:root {
    --main: #F7F5F3;
    --blue: #202E41;
}
* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'PlusJakartaSans-Medium';
    line-height: 24px;
    color: var(--main);
}

body {
    margin: 0;
    padding: 0;
    user-select: none;
}

ul{
    margin: 0;
    padding: 0;
}

h2.title {
    font-size: 80px;
    line-height: 120px;
    font-family: "DP Céline";
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 2px;
}

h2.title span {
    font-family: 'DP Céline';
    font-size: 80px;
    font-style: italic;
    font-weight: 100;
    line-height: 120px;
    letter-spacing: 2px;
    text-transform: uppercase;
}



.big-layout{
    /* background-color: black; */
    display: flex;
    justify-content: center;
    background-color: #202E41;
    background-image: none;
    background-size: cover;
    background-repeat: no-repeat;
}

.layout {
    /* background: url('../images/BG-items.webp'); */
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: lumino1sity !important;
    width: 1440px;
    background-color: #202E41;
    position: relative;
}
.layout .hidden{
    opacity: 0;
    transition: opacity 0.5s;
}
.loader {
    background-color: #202E41;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeOut 2s forwards;
}
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; visibility: hidden; }
}

/* header */
.header {
    position: relative;
    height: 860px;
}
.header .background{
    background: url(../images/spacejoy-YI2YkyaREHk-unsplash.jpg);
    background-position-y: center;
    background-size: cover;
    /* height: 860px; */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.header .background:after {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(32, 46, 65, 0.3) 0%, rgba(32, 46, 65, 0.8) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.header .container {
    position: relative;
    z-index: 3;
}
.top_head{
    z-index: 999;
    animation: none;
}

.body_head{
    display: none;
}
.header .container:before {
    background: url(../images/spacejoy-YI2YkyaREHk-unsplash.jpg);
    background-position-y: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: "";
}

.header .container:after {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(32, 46, 65, 0.3) 0%, rgba(32, 46, 65, 0.8) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.top_head .nav_item {
    font-family: "PlusJakartaSans-SemiBold";
    text-decoration: none;
    color: #D5CCC3;
    cursor: pointer;
}

.top_head .menu_right {
    gap: 24px;
}

.header .container .back-btn{
    gap: 24px;
    margin: 50px 0px 330px;
}
.header .container .back-btn img{
    width: 42px;
    height: 32px;
}
.header .container a{
    text-decoration: none;
}
.header .container .back-btn h3{
    font-family: "PlusJakartaSans-SemiBold";
    font-size: 20px;
    color: #F7F5F3;
    letter-spacing: 1px;
    align-items: center;
}

.header .container .content{
    gap: 8px;
}
.header .container .content p {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    color: #F7F5F3;
    letter-spacing: 1px;
}

.header .container .content h3 {
    font-size: 80px;
    line-height: 120px;
    font-family: "DP Céline";
    height: 240px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;
    color: #F7F5F3;
    letter-spacing: 2px;
    margin-top: 22px;
}

/* project info */
.project-info {
    margin: 100px 0 100px;
    gap: 100px;
}

.project-info p{
    font-size: 20px;
    width: 524px;
    line-height: 32px;
    font-family: "PlusJakartaSans-Medium";
    font-weight: 500;
    letter-spacing: 1px;
    color: #F7F5F3;
    margin-bottom: 48px;
}
.project-info h3{
    font-size: 20px;
    line-height: 32px;
    font-family: "PlusJakartaSans-Medium";
    font-weight: 500;
    letter-spacing: 1px;
    color: #9AA4B2;
}
.project-info h5{
    font-size: 20px;
    width: 524px;
    line-height: 32px;
    font-family: "PlusJakartaSans-Medium";
    font-weight: 500;
    letter-spacing: 1px;
    color: #F7F5F3;
    margin-bottom: 48px;
    text-transform: uppercase;
    
}
.project-info .line1{
    width: 100%;
    border: 1px solid rgba(253, 252, 245, 0.2);
    margin-bottom: 24px;
}

.project-info .img-1{
    margin: 80px 0px 80px 0px;
}
.project-info .img-2{
    margin: 80px 0px 20px 0px;
}

.project-info h2{
    font-size: 80px;
    line-height: 120px;
    font-family: "DP Céline";
    text-transform: uppercase;
    font-weight: 100;
    margin: 0;
    letter-spacing: 2px;
    z-index: 999;
    pointer-events: none;
}

.next-project{
    margin: 0px 0px 200px 0px;
}
.next-project img{
    width: 100%;
    height: 530px;
    max-width: 700px;
    object-fit: cover;
    overflow: hidden;
}
.next-project a{
    font-size: 20px;
    line-height: 32px;
    font-family: "PlusJakartaSans-Medium";
    font-weight: 500;
    letter-spacing: 1px;
    color: #F7F5F3;
    margin-top: 80px;
}
.next-project p{
    font-size: 20px;
    line-height: 32px;
    font-family: "PlusJakartaSans-Medium";
    font-weight: 500;
    letter-spacing: 1px;
    color: #F7F5F3;
    margin-top: 150px;
    margin-bottom: 44px;
}
.next-project h2{
    font-size: 48px;
    line-height: 72px;
    font-family: "DP Céline";
    /* text-transform: uppercase; */
    font-weight: 100;
    margin: 0;
    letter-spacing: 2px;
    width: 100%;
}
/* menu-area */
.menu-area {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    /* left: 0; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    width: 1440px;
    height: 960px;
    background-color: #202E41;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 1000;
    
}
.menu-area.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.menu-area .header-menu{
    max-width: 1440px;
    
}

.menu-area .header-menu .menu_right{
    gap: 8px;
}
.menu-area .header-menu .menu_right .nav_item{
    color: #D5CCC3;
    text-decoration: none;
    font-family: "PlusJakartaSans-SemiBold";
    text-decoration: none;
    cursor: pointer;
}

.body-menu {
    /* position: relative; */
    margin: 220px 100px;
    gap: 160px;
}
.body-menu .option-menu{
    font-family: "DP Céline";
    text-decoration: none;
    font-size: 48px;
    font-weight: 100;
    line-height: 72px;
    letter-spacing: 2px;
    /* text-align: center; */
    color: #BEB0A2;
    margin-bottom: 24px;
}
.body-menu .option-menu:hover{
    color: #F7F5F3;
}
/******************************* search-area ************************/
.search-area {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    /* left: 0; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    width: 1440px;
    height: 960px;
    background-color: #202E41;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 1000;
    
}
.search-area.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}
.search-area .header-search{
    max-width: 1440px;
    
}

.search-area .header-search .menu_right{
    gap: 8px;
}
.search-area .header-search .menu_right .nav_item{
    color: #D5CCC3;
    text-decoration: none;
    font-family: "PlusJakartaSans-SemiBold";
    text-decoration: none;
    cursor: pointer;
}

.body-search {
    /* position: relative; */
    margin: 220px 348px;
    gap: 160px;
}
.body-search .option-menu{
    font-family: "DP Céline";
    text-decoration: none;
    font-size: 48px;
    font-weight: 100;
    line-height: 72px;
    letter-spacing: 2px;
    /* text-align: center; */
    color: #BEB0A2;
    margin-bottom: 24px;
}
.body-search .input-group {
    width: 654px;
}
.body-search .input-group input{
    background-color: transparent;
    border-width: 0px 0px 1px 0px;
    border-radius: 0px;
    border-color: #697586;
    width: 655px;
    height: 100px;
    color: #FCFCFD;
    font-size: 48px;
    font-family: 'PlusJakartaSans-Light';
}
.body-search .input-group input::placeholder {
    color: #697586;
    font-size: 48px;
    letter-spacing: 1%;
    font-weight: 100;
    opacity: 1; /* Firefox */
}
.body-search .input-group input::-ms-input-placeholder { /* Edge 12 -18 */
    color: #697586;
    font-size: 48px;
    letter-spacing: 1%;
    font-weight: 100;
}
.body-search h4{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    margin-left: 15px;
    /* font-family: 'PlusJakartaSans-Light'; */
}


/***************************************** footer *******************************/
footer .line {
    overflow: hidden;
    /* position: relative;
     */
     display: flex;
    width: 100%;
}

footer .line ul {
    
    margin: 0;
    padding: 0;
    white-space: nowrap;
    flex-wrap: nowrap;
    padding: 12px 0;
    border-top: 0.4px solid #748FB9;
    border-bottom: 0.4px solid #748FB9;
    justify-content: center;
    animation: scroll 60s linear infinite;
}

footer .line li {
    list-style: none;
    color: #748FB9;
    font-family: "DP Céline";
    display: flex;
    align-items: center;
    margin-right: 6px;
    line-height: 18px;
    letter-spacing: 1px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

footer .line li img {
    padding-right: 6px;
}

footer .footer-middle {
    padding-top: 140px;
    padding-bottom: 170px;
}

footer .footer-middle h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #D5CCC3;
    letter-spacing: 0.48px;
}
footer .footer-middle li, footer .footer-middle li a {
    color: #F7F5F3;
    list-style: none;
    text-decoration: none;
}
footer .footer-bottom {
    height: 256px;
    position: relative;
    overflow: hidden;
}
footer .footer-bottom p {
    font-size: 320px;
    line-height: 92px;
    font-family: "DP Céline";
    color: rgba(247, 245, 243, 1);
    opacity: 0.1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50px);
    position: absolute;
    width: auto;
    white-space: nowrap;
}


