:root {
    --main: #F7F5F3;
    --blue: #202E41;
}

* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'PlusJakartaSans-Medium';
    line-height: 24px;
    color: var(--main);
}

body {
    margin: 0;
    padding: 0;
    user-select: none;
}

ul{
    margin: 0;
    padding: 0;
}

h2.title {
    font-size: 80px;
    line-height: 120px;
    font-family: "DP Céline";
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 2px;
}

h2.title span {
    font-family: 'DP Céline';
    font-size: 80px;
    font-style: italic;
    font-weight: 100;
    line-height: 120px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    content: '';
    background-image: url(../images/arrow.svg);
    width: 64px;
    height: 64px;
}

.swiper-button-prev:after {
    transform: rotate(180deg);
}

.big-layout{
    /* background-color: black; */
    display: flex;
    justify-content: center;
    background-color: #202E41;
    background-size: cover;
    background-repeat: no-repeat;
}

.layout {
    /* background: url('../images/BG-items.webp'); */
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: lumino1sity !important;
    width: 1440px;
    background-color: #202E41;
    position: relative;
}

/* header */
.top_head .nav_item {
    font-family: "PlusJakartaSans-SemiBold";
    text-decoration: none;
    color: #D5CCC3;
    cursor: pointer;
}

.top_head .menu_right {
    gap: 24px;
}


.body_head {
    padding: 140px 0 75px;
    animation: none;
}

.body_head h1 {
    font-size: 80px;
    text-align: center;
    /* text-transform: uppercase; */
    font-family: "DP Céline";
    color: #D5CCC3;
}

.body_head .menu_fabric{
    display: flex;
    justify-content: center;    
    margin-top: 20px;
}

.body_head .menu_fabric #next-tab{
    text-align: center;
    font-family: "PlusJakartaSans-Medium";
    font-size: 16px;
    text-decoration: none;
    color:#BEB0A2;
    margin-top: -10px;
    padding-left: 4px;
    padding-right: 4px;
}

.body_head .menu_fabric #current-tab{
    text-align: center;
    font-family: "PlusJakartaSans-SemiBold";
    font-size: 16px;
    text-decoration: none;
    /* color:#BEB0A2; */
    margin-top: -10px;
    padding-left: 4px;
    padding-right: 4px;
    color: #F7F5F3;
}

.body_head .menu_fabric p{
    width: 8px;
    height: 24px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #BEB0A2;

}

.body_head #line{
    /* Line 3 */

    margin-top :15px;
    width: 1280px;
    height: 0px;
    border: 1px solid rgba(253, 252, 245, 0.2);

}

/* tab collection fabric */
.tab-general-fabric{
    
}
.tab-general-fabric .tab-collection-design{
    display: flex;
    justify-content: center;
    margin-left: 30px;
    gap: 24px;
}
.tab-general-fabric .tab-collection-design #next-tab{
    /* Collection */
    text-decoration: none ;
    width: 203px;
    height: 72px;

    /* iv - 48 */
    font-family: 'DP Céline';
    font-style: normal;
    font-weight: 100;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height, onextr 150% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;

    /* beige / 600 */
    color: #8D7863;
}
.tab-general-fabric .tab-collection-design #current-tab{
    /* Collection */
    text-decoration: none ;
    width: 203px;
    height: 72px;

    /* iv - 48 */
    font-family: 'DP Céline';
    font-style: normal;
    font-weight: 100;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    color: var(--main);
}


/* category dropdown */
.tab-general-fabric .all-category-dropdown{
    margin-left: 70px;
}
.tab-general-fabric .all-category-dropdown #dropdownMenu-AllCategory{
    background-color: transparent;
    border-radius: 21px;
    border-color: #4B5565;
    font-family: 'PlusJakartaSans-SemiBold';
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: var(--main);
    padding-right: 40px;
    width: 179px;
}

.tab-general-fabric .all-category-dropdown .dropdown-toggle::after {
    display: none;
}

.tab-general-fabric .all-category-dropdown .dropdown-toggle {
    padding-right: 30px;
    position: relative;
}

.tab-general-fabric .all-category-dropdown .dropdown-toggle #chevron-down {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    /* font-weight: 100; */
}

/* sort by dropdown */
.tab-general-fabric .menu_right_filter{
    margin-left: -137px;
    gap: 16px;
}
.menu_right_filter #dropdownMenu-sortby{
    background-color: transparent;
    border-radius: 21px;
    border-color: #4B5565;
    font-family: 'PlusJakartaSans-SemiBold';
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: var(--main);
    padding-right: 40px;
    width: 203px;
}

.menu_right_filter .dropdown-toggle::after {
    display: none;
}

.menu_right_filter .dropdown-toggle {
    padding-right: 30px;
    position: relative;
}

.menu_right_filter .dropdown-toggle #chevron-down {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    /* font-weight: 100; */
}

.tab-general-fabric .menu_right_filter #filter-icon2{
    display: none;
}
.filter-bar .filter-hidden .btn-hidden img{
    display: none;
}
.filter-hidden #count{
    display: none;
}

/* filter button */
.menu_right_filter #btn-filter{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 115px;
    background-color: transparent;
    border-radius: 30px;
    border-color: #4B5565;
    font-family: 'PlusJakartaSans-SemiBold';
    font-size: 16px;
    color: var(--main);
    letter-spacing: 1px;
}


/* table product */
.table-products #sum-products {
    font-family: 'PlusJakartaSans-Medium';
    font-size: 16px;
    color: var(--main);
}

.table-products .container{
    display: flex;
    justify-content: space-between;
    gap: 8px;
    height: max-content;
    margin-bottom: 80px;

}

.table-products .container .fabric-item{
    width: 440px;
    gap: 8px;
    padding: 0 1vw;
}

.table-products .container .fabric-item .img{
    height: 236px;
    object-fit: cover;
}

.table-products .container .fabric-item #block-collection-lable{
    gap: 4px;
}

.table-products .container .fabric-item #collection-name{
    font-family: 'DP Céline';
    font-size: 36px;
    color: var(--main);
    margin-top: 16px;
    letter-spacing: 1px;
    /* color: #BEB0A2; */
}

.table-products .container .fabric-item #collection-quantity{
    font-family: 'PlusJakartaSans-Medium';
    font-size: 14px;
    color: #BEB0A2;
    
}

.table-products .button-showmore {
    display: flex;
    justify-content: center;
    margin: -17px 0px 103px;
}
.table-products .button-showmore #btn-showmore{
    background-color: var(--main) ;
    border-color: var(--main);
    width: 357px;
    height: 68px;
    border-radius: 100px;
    color: #3B3229;
    font-family: 'PlusJakartaSans-Medium';
    font-size: 20px;
    letter-spacing: 3%;
}

/* menu-area */
.menu-area {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    /* left: 0; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    width: 1440px;
    height: 960px;
    background-color: #202E41;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 1000;
    
}
.menu-area.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}
.menu-area .header-menu{
    max-width: 1440px;
    
}

.menu-area .header-menu .menu_right{
    gap: 8px;
}
.menu-area .header-menu .menu_right .nav_item{
    color: #D5CCC3;
    text-decoration: none;
    font-family: "PlusJakartaSans-SemiBold";
    text-decoration: none;
    cursor: pointer;
}

.body-menu {
    /* position: relative; */
    margin: 220px 100px;
    gap: 160px;
}
.body-menu .option-menu{
    font-family: "DP Céline";
    text-decoration: none;
    font-size: 48px;
    font-weight: 100;
    line-height: 72px;
    letter-spacing: 2px;
    /* text-align: center; */
    color: #BEB0A2;
    margin-bottom: 24px;
}
.body-menu .option-menu:hover{
    color: #F7F5F3;
}


/**************************************************
                MOBILE CSS AREA 
****************************************************/
@media (max-width: 768px) {
    body {
       background: var(--blue_bg);
       width: 100%;
    }
    .sidebar {
        display: none;
    }

    h2.title {
        font-size: 28px;
        line-height: 42px;
        font-family: "DP Céline";
        text-transform: uppercase;
        font-weight: 100;
        margin: 0;
        letter-spacing: 2px;
        z-index: 999;
        pointer-events: none;
    }
    
    h2.title span {
        font-family: 'DP Céline';
        font-size: 28px;
        font-style: italic;
        font-weight: 100;
        line-height: 42px;
        letter-spacing: 2px;
        text-transform: uppercase;
        z-index: 999;
    }

    .big-layout {
        width: 100%;
        display: flex;
        justify-content: center;
        
        background: url('../images/BG-items.webp');
        background-color: #202E41;
        background-size: cover;
        background-repeat: no-repeat;
        mix-blend-mode: lumino1sity !important;
        overflow: hidden;
    }
    .layout{
        width: 100%;
        max-width: none;
    }

    /************************** Header ************************/
    section.header{
        display: flex;
        justify-content: space-between;
    }

    section.header .container{
        width: 100%;
    }
    section.header .container .top_head{
        /* display: flex;
        justify-content: space-between; */
        animation: none;
    } 
    section.header .container .top_head .logo img{
        display: flex;
        text-align: start;
        margin-left: -10vw;
        width: 36px;
        height: 40px;
    }
    section.header #contact{
        display: none;
    }
    .body_head {
        padding: 10vh 0 2vh;
        animation: none;
    }
    .top_head .menu_right{
        gap: 10px;
        justify-content: flex-end;
        /* margin-left: 2vw; */
    }
    .body_head h1 {
        font-size: 48px;
        text-align: center;
        /* text-transform: uppercase; */
        font-family: "DP Céline";
        letter-spacing: 2px;
    }

    .body_head span {
        font-family: 'DP Céline';
        font-size: 48px;
        text-align: center;
        font-style: italic;
        font-weight: 100;
        text-transform: uppercase;
        margin-left: -8px;
        margin-right: 6px;
    }

    .body_head #line{
        /* Line 3 */
        margin-top :15px;
        width: 100%;
        height: 0px;
        border: 1px solid rgba(253, 252, 245, 0.2);
    }

    .tab-general-fabric .tab-collection-design{
        display: flex;
        justify-content: center;
        margin-left: 4vw;
        gap: 24px;
    }


    .tab-general-fabric .tab-collection-design #next-tab{
        /* Collection */
        text-decoration: none ;
 
        /* iv - 48 */
        font-family: 'DP Céline';
        font-style: normal;
        font-weight: 100;
        font-size: 28px;
        line-height: 42px;
        /* identical to box height, onextr 150% */
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        letter-spacing: 2px;
    
        /* beige / 600 */
        color: #8D7863;
    }
    .tab-general-fabric .tab-collection-design #current-tab{
        /* Collection */
        text-decoration: none ;
    
        /* iv - 48 */
        font-family: 'DP Céline';
        font-style: normal;
        font-weight: 100;
        font-size: 28px;
        line-height: 42px;
        /* identical to box height, or 150% */
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
        letter-spacing: 2px;
        color: var(--main);
    }
    
    .tab-general-fabric .all-category-dropdown .dropdown{
        display: none;
    }
    .tab-general-fabric .menu_right_filter .dropdown{
        display: none;
    }

    .tab-general-fabric .menu_right_filter #btn-filter{
        background-color: #F7F5F3;
        color: #3B3229;
        z-index: 999;
        top: 90dvh;
        left : 38vw;
        position: fixed;
    }
    .tab-general-fabric .menu_right_filter #filter-icon{
        display: none;
    }
    .tab-general-fabric .menu_right_filter #filter-icon2{
        display: block;
        margin-left: -5px;
    }

    .table-products{
        margin-top: -8vh;
    }
    .table-products .sum{
        margin: auto !important;
        width: max-content;
    }
    .table-products .swiper-container{
        display: flex;
        justify-content: space-between;
        gap: 8px;
        height: 205px;
        margin-bottom: 48px;
        overflow-x: scroll;
        scrollbar-width: none; /* For Firefox */
        --ms-overflow-style: none; /* For Internet Explorer and Edge */
        margin-left: 2vw;
    }
    .table-products .container .fabric-item{
        width: 100%;
        padding: 0 2vw 4vh;
    }

    .table-products .container{
        display: flex;
        justify-content: space-between;
        gap: 3vw;
        margin: 3vh 0;
        height: max-content;
    }
    .table-products .button-showmore{
        display: flex;
        justify-content: center;
        margin: 5vh 0px 10vh;
        padding: 0 3vw;
    }

    /* menu-area */
    .menu-area {
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        /* left: 0; */
        display: flex;
        /* justify-content: center; */
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: #202E41;
        opacity: 0;
        transform: translateY(-100%);
        transition: opacity 0.5s ease, transform 0.5s ease;
        z-index: 1000;
        overflow: hidden;
    }
    .menu-area .body-menu .menu-item {
        display: grid;
    }
    .menu-area .header-menu .menu_right{
        gap: 8px;
        padding: 0;
        margin-left: -12vw;
    }
    .menu-area .header-menu .logo{
        display: flex;
        justify-content: flex-start;
        padding: 0;
    }
    .menu-area .body-menu {
        margin: 10vh 10vw;
    }
    .body-menu .option-menu{
        font-family: "DP Céline";
        text-decoration: none;
        font-size: 22px;
        font-weight: 100;
        line-height: 34px;
        letter-spacing: 2px;
        /* text-align: center; */
        color: #BEB0A2;
        margin-bottom: 24px;
    }
    .body-menu .a1, .a2, .a3{
        width: 300px;
    }
    .header-menu .logo img{
        width: 36px;
        height: 40px;
        margin-left: -6vw;
    }
    
}