:root {
    --main: #F7F5F3;
    --blue: #202E41;
}


* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'PlusJakartaSans-Medium';
    line-height: 24px;
    color: var(--main);
}

body {
    margin: 0;
    padding: 0;
    user-select: none;
}

ul{
    margin: 0;
    padding: 0;
}

h2.title {
    font-size: 80px;
    line-height: 120px;
    font-family: "DP Céline";
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 2px;
}

h2.title span {
    font-family: 'DP Céline';
    font-size: 80px;
    font-style: italic;
    font-weight: 100;
    line-height: 120px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    content: '';
    background-image: url(../images/arrow.svg);
    width: 64px;
    height: 64px;
}

.swiper-button-prev:after {
    transform: rotate(180deg);
}

.big-layout{
    /* background-color: black; */
    display: flex;
    justify-content: center;
    background-color: #202E41;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: none;
}

.layout {
    /* background: url('../images/BG-items.webp'); */
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: lumino1sity !important;
    width: 1440px;
    background-color: #202E41;
    position: relative;
}

/* header */
.top_head .nav_item {
    font-family: "PlusJakartaSans-SemiBold";
    text-decoration: none;
    color: #D5CCC3;
    cursor: pointer;

}

.top_head .menu_right {
    gap: 24px;
}


.body_head {
    display: none;
}

.body_head h1 {
    font-size: 80px;
    text-align: center;
    /* text-transform: uppercase; */
    font-family: "DP Céline";
}

/* .layout .detail-fabric{
    position: absolute;
    top: 208px;
    left: 188px;
} */

/* detail items */
.detail-fabric .container .img-detail{
    width: 1150px;
    height: 500px;
    margin-left: 95px;
}

.detail-fabric .container .img-detail .small-view img:hover{
    scale: 1.1;
}
.detail-fabric .container .img-detail .main-view{
    width: 850px;
    height: 500px;
}
.detail-fabric .container .img-detail .main-view img{
    width: 100%;
    height: 500px;
    background: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
}

.detail-fabric .container .img-detail .small-view::-webkit-scrollbar {
    display: none;  /* chorme */
  }

.detail-fabric .container .img-detail .small-view{
    width: 200px;
    height: 500px;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    margin-left: 63px;
    gap: 32px;
}

.detail-fabric .container .img-detail .small-view img{
    width: 99px;
    height: 56px;
}

.detail-fabric .container .img-detail .small-view .current-selected{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 123px;
    height: 76px;
    border: 1px solid var(--main);
}
.detail-fabric .container .img-detail .small-view .next-selected{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 123px;
    height: 76px;
    /* margin-top: 12px; */
}

.layout .detail-fabric .lable-general{
    margin-left: 94px;
}

.layout .detail-fabric .lable-general .directory{
    gap: 4px;
    margin-top: 10px;
}
.layout .detail-fabric .lable-general .directory a{
    text-decoration: none;
    cursor: pointer;
    font-family: 'PlusJakartaSans-Medium';
    font-size: 16px;
    /* color: #BEB0A2; */
}
.layout .detail-fabric .lable-general .directory .back-directory {
    color: #BEB0A2;
}
.layout .detail-fabric .lable-general .directory .current-directory {
    color: #F7F5F3;
}

.layout .detail-fabric .lable-general .lable-fabric{
    gap: 24px;
}
.layout .detail-fabric .lable-general .lable-fabric #code{
    font-family: "DP Céline";
    font-size: 48px;
    color: #F7F5F3;
    letter-spacing: 2px;
    font-weight: 100 !important;
}

.layout .detail-fabric .lable-general .lable-fabric #name{
    font-family: "DP Céline";
    font-size: 48px;
    color:#BEB0A2;
    letter-spacing: 2px;
    font-weight: 100 !important;
}
.layout .detail-fabric .lable-general .btn-secondary{
    width: fit-content;
    padding: 8px 16px 8px 16px;
    height: 40px;
    border-radius: 999px;
    background-color: transparent;
    border-color: #4B5565;
    font-family: 'PlusJakartaSans-Medium';
    font-size: 16px;
    color: #F7F5F3;
    margin-top: 20px;
    margin-left: 10px;
}

.layout .detail-fabric .download{
    width: 242px;
    height: 96px;
    gap: 24px;
    font-family: 'PlusJakartaSans-Medium';
    font-size: 16px;
    color: #F7F5F3;
    letter-spacing: 3%;
    /* padding: 0px; */
}
.layout .detail-fabric .download .download-item{
    gap: 15px;
    height: 48px;
}
.layout .detail-fabric .download .download-item img{
    width: 17px;
    height: 20px;
}

.layout .detail-fabric .left-description{
    width: 410px;
    gap: 24px;
    margin-left: 109px;
}
.layout .detail-fabric .left-description .content{
    /* width: 410px; */
    gap: 8px;
    font-family: 'PlusJakartaSans-Medium';
    font-size: 16px;
    /* color: #F7F5F3; */
    letter-spacing: 3%;
}
.layout .detail-fabric .left-description .content .title{
    margin-bottom: 8px;
}
.layout .detail-fabric .left-description .content .title p{
    color: #9AA4B2;
    margin: 0px 0px 0px;
}
.layout .detail-fabric .left-description .content .description{
    margin-bottom: 24px;
}
.layout .detail-fabric .left-description .content .description p{
    color: var(--main);
    margin: 0px 0px 0px;
}

/* tab collection fabric */
/* table product */
.table-products #lable-samecollection {
    font-family: 'DP Céline';
    font-size: 48px;
    color: var(--main);
    letter-spacing: 2px;
    margin-top: 144px;
}

.table-products .container{
    display: flex;
    justify-content: space-between;
    gap: 8px;
    height: 205px;
    margin-bottom: 80px;
}

.table-products .container .fabric-item{
    width: 250px;
    gap: 12px;
}

.table-products .container .fabric-item .img{
    height: 141px;
}

.table-products .container .fabric-item #design-name{
    font-family: 'PlusJakartaSans-Medium';
    font-size: 16px;
    color: #BEB0A2;
}

.table-products .container .fabric-item #design-code{
    font-family: 'PlusJakartaSans-Medium';
    font-size: 16px;
    color: var(--main);
}

.table-products .button-showmore {
    display: flex;
    justify-content: center;
    margin: -17px 0px 103px;
}
.table-products .button-showmore #btn-showmore{
    background-color: var(--main) ;
    border-color: var(--main);
    width: 357px;
    height: 68px;
    border-radius: 100px;
    color: #3B3229;
    font-family: 'PlusJakartaSans-Medium';
    font-size: 20px;
    letter-spacing: 3%;
}

/* filter-bar */
.big-layout .opacity-layer{
    position: absolute;
    width: 100%;
    height: 2017px;
    right: 0px;
    top: 0px;
    background: #27384F;
    opacity: 60%;
}
.layout .opacity-layer{
    position: absolute;
    width: 100%;
    height: 2017px;
    right: 0px;
    top: 0px;
    background: #27384F;
    opacity: 60%;
}
.layout .filter-bar{

    position: absolute;
    width: 680px;
    height: 2017px;
    right: 0px;
    top: 0px;
    background: #202E41;
}

.filter-bar .container{
    position: absolute;
    top: 36px;
    left: 48px;
    width: 584px;
}

.filter-bar #x-close-1{
    width: 24px;
    height: 24px;
}

.filter-bar #line-8{
    position: absolute;
    width: 584px;
    height: 0px;
    top: 73.5px;
    border: 1px solid #4B5565;
}

.filter-bar h3{
    font-family: 'DP Céline';
    font-size: 48px;
    color: var(--main);
    letter-spacing: 1px;
}

.filter-bar .container h4{
    color: #9AA4B2;
    font-family: 'PlusJakartaSans-Medium';
    font-size: 16px;
    letter-spacing: 1px;
}

.filter-bar .container h5{
    color: var(--main);
    font-family: 'PlusJakartaSans-Medium';
    font-size: 16px;
    letter-spacing: 1px;
}

.filter-bar .container .item-selected{
    background-color: #364152;
    border-color: #364152;
    padding: 12px 12px 12px 16px;
    gap: 8px;
    width: fit-content;
    border-radius: 50px;
    font-family: 'PlusJakartaSans-Medium';
    font-size: 16px;
    letter-spacing: 1px;
    color: var(--main);
}
.filter-bar .container #x-close-items{
    width: 8px;
    height: 8px;
}
.filter-bar .container .form-check {
    gap: 12px;
    display: flex;
}
.filter-bar .container .form-check .form-check-input{
    background-color: transparent;
    border-radius: 0px;
    border-color: #4B5565;
}
.filter-bar .container .form-check .form-check-lable{
    font-family: 'PlusJakartaSans-Medium';
    font-size: 16px;
    letter-spacing: 1px;
    color: var(--main);
}
.filter-bar .container .form-check .form-check-input:checked{
    background-color: white !important;
}

.filter-bar .btn-secondary{
    width: 608px;
    height: 68px;
    gap: 10px;
    padding: 22px 24px 22px 24px;
    font-family: 'PlusJakartaSans-Medium';
    font-size: 20px;
    letter-spacing: 1px;
    color: #3B3229;
    border-radius: 50px;
    border-color: var(--main);
    background-color: var(--main);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.filter-bar .container #arrow{
    position: absolute;
    left: 530px;
    margin-top: 20px;
}

/* menu-area */
.menu-area {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    /* left: 0; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    width: 1440px;
    height: 960px;
    background-color: #202E41;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 1000;
    
}
.menu-area.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.menu-area .header-menu{
    max-width: 1440px;
    
}

.menu-area .header-menu .menu_right{
    gap: 8px;
}
.menu-area .header-menu .menu_right .nav_item{
    color: #D5CCC3;
    text-decoration: none;
    font-family: "PlusJakartaSans-SemiBold";
    text-decoration: none;
    cursor: pointer;
}

.body-menu {
    /* position: relative; */
    margin: 220px 100px;
    gap: 160px;
}
.body-menu .option-menu{
    font-family: "DP Céline";
    text-decoration: none;
    font-size: 48px;
    font-weight: 100;
    line-height: 72px;
    letter-spacing: 2px;
    /* text-align: center; */
    color: #BEB0A2;
    margin-bottom: 24px;
}
.body-menu .option-menu:hover{
    color: #F7F5F3;
}

/******************************* search-area ************************/
.search-area {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    /* left: 0; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    width: 1440px;
    height: 960px;
    background-color: #202E41;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 1000;
    
}
.search-area.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}
.search-area .header-search{
    max-width: 1440px;
    
}

.search-area .header-search .menu_right{
    gap: 8px;
}
.search-area .header-search .menu_right .nav_item{
    color: #D5CCC3;
    text-decoration: none;
    font-family: "PlusJakartaSans-SemiBold";
    text-decoration: none;
    cursor: pointer;
}

.body-search {
    /* position: relative; */
    margin: 220px 348px;
    gap: 160px;
}
.body-search .option-menu{
    font-family: "DP Céline";
    text-decoration: none;
    font-size: 48px;
    font-weight: 100;
    line-height: 72px;
    letter-spacing: 2px;
    /* text-align: center; */
    color: #BEB0A2;
    margin-bottom: 24px;
}
.body-search .input-group {
    width: 654px;
}
.body-search .input-group input{
    background-color: transparent;
    border-width: 0px 0px 1px 0px;
    border-radius: 0px;
    border-color: #697586;
    width: 655px;
    height: 100px;
    color: #FCFCFD;
    font-size: 48px;
    font-family: 'PlusJakartaSans-Light';
}
.body-search .input-group input::placeholder {
    color: #697586;
    font-size: 48px;
    letter-spacing: 1%;
    font-weight: 100;
    opacity: 1; /* Firefox */
}
.body-search .input-group input::-ms-input-placeholder { /* Edge 12 -18 */
    color: #697586;
    font-size: 48px;
    letter-spacing: 1%;
    font-weight: 100;
}
.body-search h4{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    margin-left: 15px;
    /* font-family: 'PlusJakartaSans-Light'; */
}

/***************************************** footer *******************************/
footer .line {
    overflow: hidden;
    /* position: relative;
     */
     display: flex;
    width: 100%;
}

footer .line ul {
    
    margin: 0;
    padding: 0;
    white-space: nowrap;
    flex-wrap: nowrap;
    padding: 12px 0;
    border-top: 0.4px solid #748FB9;
    border-bottom: 0.4px solid #748FB9;
    justify-content: center;
    animation: scroll 60s linear infinite;
}

footer .line li {
    list-style: none;
    color: #748FB9;
    font-family: "DP Céline";
    display: flex;
    align-items: center;
    margin-right: 6px;
    line-height: 18px;
    letter-spacing: 1px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

footer .line li img {
    padding-right: 6px;
}

footer .footer-middle {
    padding-top: 140px;
    padding-bottom: 170px;
}

footer .footer-middle h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #D5CCC3;
    letter-spacing: 0.48px;
}
footer .footer-middle li, footer .footer-middle li a {
    color: #F7F5F3;
    list-style: none;
    text-decoration: none;
}
footer .footer-bottom {
    height: 256px;
    position: relative;
    overflow: hidden;
}
footer .footer-bottom p {
    font-size: 320px;
    line-height: 92px;
    font-family: "DP Céline";
    color: rgba(247, 245, 243, 1);
    opacity: 0.1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50px);
    position: absolute;
    width: auto;
    white-space: nowrap;
}
