:root {
    --main: #F7F5F3;
    --blue: #202E41;
}

@font-face {
    font-family: 'DP Céline';
    src: url('../fonts/DFVNIvyPrestoDisplay/IvyPrestoDisplay-Thin.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DP Céline bold';
    src: url('../fonts/DFVNIvyPrestoDisplay/IvyPrestoDisplay-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PlusJakartaSans-Medium';
    src: url('../fonts/Plus_Jakarta_Sans/Plus_Jakarta_Sans/static/PlusJakartaSans-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlusJakartaSans-SemiBold';
    src: url('../fonts/Plus_Jakarta_Sans/Plus_Jakarta_Sans/static/PlusJakartaSans-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'PlusJakartaSans-Medium';
    line-height: 24px;
    color: var(--main);
}

body {
    margin: 0;
    padding: 0;
    user-select: none;
}

ul{
    margin: 0;
    padding: 0;
}

h2.title {
    font-size: 80px;
    line-height: 120px;
    font-family: "DP Céline";
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 2px;
}

h2.title span {
    font-family: 'DP Céline';
    font-size: 80px;
    font-style: italic;
    font-weight: 100;
    line-height: 120px;
    letter-spacing: 2px;
    text-transform: uppercase;
}



.big-layout{
    /* background-color: black; */
    display: flex;
    justify-content: center;
    background-color: #202E41;
    background-size: cover;
    background-repeat: no-repeat;
}

.layout {
    /* background: url('../images/BG-items.webp'); */
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: lumino1sity !important;
    width: 1440px;
    background-color: #202E41;
    position: relative;
}

/* header */
.header {
    position: relative;
    height: 860px;
}
.header .background{
    background: url(../images/spacejoy-YI2YkyaREHk-unsplash.jpg);
    background-position-y: center;
    background-size: cover;
    /* height: 860px; */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.header .background:after {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(32, 46, 65, 0.3) 0%, rgba(32, 46, 65, 0.8) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.header .container {
    position: relative;
    z-index: 3;
}
.top_head{
    z-index: 999;
}
.top_head .nav_item {
    font-family: "PlusJakartaSans-SemiBold";
    text-decoration: none;
    color: #D5CCC3;
    cursor: pointer;
}

.top_head .menu_right {
    gap: 24px;
}

.header .container .back-btn{
    gap: 24px;
    margin: 50px 0px 330px;
}
.header .container .back-btn img{
    width: 42px;
    height: 32px;
}
.header .container a{
    text-decoration: none;
}
.header .container .back-btn h3{
    font-family: "PlusJakartaSans-SemiBold";
    font-size: 20px;
    color: #F7F5F3;
    letter-spacing: 1px;
    align-items: center;
}

.header .container .content{
    gap: 8px;
}
.header .container .content p {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    color: #F7F5F3;
    letter-spacing: 1px;
}

.header .container .content h3 {
    font-size: 80px;
    line-height: 120px;
    font-family: "DP Céline";
    height: 240px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;
    color: #F7F5F3;
    letter-spacing: 2px;
    margin-top: 22px;
}

/* project info */
.project-info {
    margin: 100px 0 100px;
    gap: 100px;
}

.body_head {
    padding: 140px 0 75px;
}

.body_head h1 {
    font-size: 80px;
    text-align: center;
    /* text-transform: uppercase; */
    font-family: "DP Céline";
    color: #D5CCC3;
}

.body_head .menu_fabric{
    display: flex;
    justify-content: center;    
    margin-top: 20px;
}

.body_head .menu_fabric #next-tab{
    text-align: center;
    font-family: "PlusJakartaSans-Medium";
    font-size: 16px;
    text-decoration: none;
    color:#BEB0A2;
    margin-top: -10px;
    padding-left: 4px;
    padding-right: 4px;
}

.body_head .menu_fabric #current-tab{
    text-align: center;
    font-family: "PlusJakartaSans-SemiBold";
    font-size: 16px;
    text-decoration: none;
    /* color:#BEB0A2; */
    margin-top: -10px;
    padding-left: 4px;
    padding-right: 4px;
    color: #F7F5F3;
}

.body_head .menu_fabric p{
    width: 8px;
    height: 24px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #BEB0A2;

}

.body_head #line{
    /* Line 3 */

    margin-top :15px;
    width: 1280px;
    height: 0px;
    border: 1px solid rgba(253, 252, 245, 0.2);

}

/* tab collection fabric */

.tab-general-fabric .tab-collection-design{
    display: flex;
    justify-content: center;
    margin-left: 30px;
    gap: 24px;
}
.tab-general-fabric .tab-collection-design #next-tab{
    /* Collection */
    text-decoration: none ;
    width: 203px;
    height: 72px;

    /* iv - 48 */
    font-family: 'DP Céline';
    font-style: normal;
    font-weight: 100;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height, onextr 150% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;

    /* beige / 600 */
    color: #8D7863;
}
.tab-general-fabric .tab-collection-design #current-tab{
    /* Collection */
    text-decoration: none;
    width: 203px;
    height: 72px;

    /* iv - 48 */
    font-family: 'DP Céline';
    font-style: normal;
    font-weight: 100;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    color: var(--main);
}


/* table product */


.table-projects .container{
    display: flex;
    justify-content: space-between;
    gap: 64px;
    height: 407px;
    margin-bottom: 80px;
}

.table-projects .container .froject-item{
    width: 624px;
    gap: 8px;
    padding: 0px;
}

.table-projects .container .froject-item .img{
    height: 333px;
}

.table-projects .container .froject-item #block-collection-lable{
    gap: 4px;
}

.table-projects .container .froject-item #collection-name{
    font-family: 'DP Céline';
    font-size: 36px;
    color: var(--main);
    margin-top: 16px;
    letter-spacing: 1px;
    /* color: #BEB0A2; */
}

.table-projects .container .froject-item #collection-quantity{
    font-family: 'PlusJakartaSans-Medium';
    font-size: 14px;
    color: #BEB0A2;
    
}

.table-projects .button-showmore {
    display: flex;
    justify-content: center;
    margin: -17px 0px 103px;
}
.table-projects .button-showmore #btn-showmore{
    background-color: var(--main) ;
    border-color: var(--main);
    width: 357px;
    height: 68px;
    border-radius: 100px;
    color: #3B3229;
    font-family: 'PlusJakartaSans-Medium';
    font-size: 20px;
    letter-spacing: 3%;
}


/* menu-area */
.menu-area {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    /* left: 0; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    width: 1440px;
    height: 960px;
    background-color: #202E41;
    
}
.menu-area .header-menu{
    max-width: 1440px;
    
}

.menu-area .header-menu .menu_right{
    gap: 8px;
}
.menu-area .header-menu .menu_right .nav_item{
    color: #D5CCC3;
    text-decoration: none;
    font-family: "PlusJakartaSans-SemiBold";
    text-decoration: none;
    cursor: pointer;
}

.body-menu {
    /* position: relative; */
    margin: 220px 100px;
    gap: 160px;
}
.body-menu .option-menu{
    font-family: "DP Céline";
    text-decoration: none;
    font-size: 48px;
    font-weight: 100;
    line-height: 72px;
    letter-spacing: 2px;
    /* text-align: center; */
    color: #BEB0A2;
    margin-bottom: 24px;
}
.body-menu .option-menu:hover{
    color: #F7F5F3;
}


/***************************************** footer *******************************/
footer .line {
    overflow: hidden;
    /* position: relative;
     */
     display: flex;
    width: 100%;
}

footer .line ul {
    
    margin: 0;
    padding: 0;
    white-space: nowrap;
    flex-wrap: nowrap;
    padding: 12px 0;
    border-top: 0.4px solid #748FB9;
    border-bottom: 0.4px solid #748FB9;
    justify-content: center;
    animation: scroll 60s linear infinite;
}

footer .line li {
    list-style: none;
    color: #748FB9;
    font-family: "DP Céline";
    display: flex;
    align-items: center;
    margin-right: 6px;
    line-height: 18px;
    letter-spacing: 1px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

footer .line li img {
    padding-right: 6px;
}

footer .footer-middle {
    padding-top: 140px;
    padding-bottom: 170px;
}

footer .footer-middle h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #D5CCC3;
    letter-spacing: 0.48px;
}
footer .footer-middle li, footer .footer-middle li a {
    color: #F7F5F3;
    list-style: none;
    text-decoration: none;
}
footer .footer-bottom {
    height: 256px;
    position: relative;
    overflow: hidden;
}
footer .footer-bottom p {
    font-size: 320px;
    line-height: 92px;
    font-family: "DP Céline";
    color: rgba(247, 245, 243, 1);
    opacity: 0.1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50px);
    position: absolute;
    width: auto;
    white-space: nowrap;
}


