:root {
    --main: #F7F5F3;
    --blue: #202E41;
}

@font-face {
    font-family: 'DP Céline';
    src: url('../fonts/DFVNIvyPrestoDisplay/IvyPrestoDisplay-Thin.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DP Céline bold';
    src: url('../fonts/DFVNIvyPrestoDisplay/IvyPrestoDisplay-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PlusJakartaSans-Medium';
    src: url('../fonts/Plus_Jakarta_Sans/Plus_Jakarta_Sans/static/PlusJakartaSans-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PlusJakartaSans-Light';
    src: url('../fonts/Plus_Jakarta_Sans/Plus_Jakarta_Sans/static/PlusJakartaSans-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PlusJakartaSans-SemiBold';
    src: url('../fonts/Plus_Jakarta_Sans/Plus_Jakarta_Sans/static/PlusJakartaSans-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'PlusJakartaSans-Medium';
    line-height: 24px;
    color: var(--main);
}

body {
    margin: 0;
    padding: 0;
    user-select: none;
}

ul{
    margin: 0;
    padding: 0;
}

h2.title {
    font-size: 80px;
    line-height: 120px;
    font-family: "DP Céline";
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 2px;
}

h2.title span {
    font-family: 'DP Céline';
    font-size: 80px;
    font-style: italic;
    font-weight: 100;
    line-height: 120px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    content: '';
    background-image: url(../images/arrow.svg);
    width: 64px;
    height: 64px;
}

.swiper-button-prev:after {
    transform: rotate(180deg);
}

.big-layout{
    /* background-color: black; */
    display: flex;
    justify-content: center;
    background-color: #202E41;
    background-size: cover;
    background-repeat: no-repeat;
}

.layout {
    /* background: url('../images/BG-items.webp'); */
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: lumino1sity !important;
    width: 1440px;
    background-color: #202E41;
    position: relative;
}

/* header */
.top_head .nav_item {
    font-family: "PlusJakartaSans-SemiBold";
    text-decoration: none;
    color: #D5CCC3;
    cursor: pointer;
}

.top_head .menu_right {
    gap: 24px;
}


.body_head {
    padding: 140px 0 75px;
}

.body_head h1 {
    font-size: 80px;
    text-align: center;
    /* text-transform: uppercase; */
    font-family: "DP Céline";
    letter-spacing: 2px;
    color:#D5CCC3;
}

.body_head .menu_fabric{
    display: flex;
    justify-content: center;    
    margin-top: 20px;
}

.body_head .menu_fabric #next-tab{
    text-align: center;
    font-family: "PlusJakartaSans-Medium";
    font-size: 16px;
    text-decoration: none;
    color:#BEB0A2;
    margin-top: -10px;
    padding-left: 4px;
    padding-right: 4px;
}

.body_head .menu_fabric #current-tab{
    text-align: center;
    font-family: "PlusJakartaSans-SemiBold";
    font-size: 16px;
    text-decoration: none;
    /* color:#BEB0A2; */
    margin-top: -10px;
    padding-left: 4px;
    padding-right: 4px;
    color: #F7F5F3;
}

.body_head .menu_fabric p{
    width: 8px;
    height: 24px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #BEB0A2;

}

.body_head #line{
    /* Line 3 */

    margin-top :15px;
    width: 1280px;
    height: 0px;
    border: 1px solid rgba(253, 252, 245, 0.2);

}

/* tab collection fabric */
.tab-general-fabric{
    
}
.tab-general-fabric .tab-collection-design{
    display: flex;
    justify-content: center;
    margin-left: 30px;
    gap: 24px;
}
.tab-general-fabric .tab-collection-design #next-tab{
    /* Collection */
    text-decoration: none ;
    width: 203px;
    height: 72px;

    /* iv - 48 */
    font-family: 'DP Céline';
    font-style: normal;
    font-weight: 100;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height, onextr 150% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;

    /* beige / 600 */
    color: #8D7863;
}
.tab-general-fabric .tab-collection-design #current-tab{
    /* Collection */
    text-decoration: none ;
    width: 203px;
    height: 72px;

    /* iv - 48 */
    font-family: 'DP Céline';
    font-style: normal;
    font-weight: 100;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    color: var(--main);
}


/* category dropdown */
.tab-general-fabric .all-category-dropdown{
    margin-left: 70px;
}
.tab-general-fabric .all-category-dropdown #dropdownMenu-AllCategory{
    background-color: transparent;
    border-radius: 21px;
    border-color: #4B5565;
    font-family: 'PlusJakartaSans-SemiBold';
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: var(--main);
    padding-right: 40px;
    width: 179px;
}

.tab-general-fabric .all-category-dropdown .dropdown-toggle::after {
    display: none;
}

.tab-general-fabric .all-category-dropdown .dropdown-toggle {
    padding-right: 30px;
    position: relative;
}

.tab-general-fabric .all-category-dropdown .dropdown-toggle #chevron-down {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    /* font-weight: 100; */
}

/* sort by dropdown */
.tab-general-fabric .menu_right_filter{
    margin-left: -137px;
    gap: 16px;
}
.menu_right_filter #dropdownMenu-sortby{
    background-color: transparent;
    border-radius: 21px;
    border-color: #4B5565;
    font-family: 'PlusJakartaSans-SemiBold';
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: var(--main);
    padding-right: 40px;
    width: 203px;
}

.menu_right_filter .dropdown-toggle::after {
    display: none;
}

.menu_right_filter .dropdown-toggle {
    padding-right: 30px;
    position: relative;
}

.menu_right_filter .dropdown-toggle #chevron-down {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    /* font-weight: 100; */
}

/* filter button */
.menu_right_filter #btn-filter{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 115px;
    background-color: transparent;
    border-radius: 30px;
    border-color: #4B5565;
    font-family: 'PlusJakartaSans-SemiBold';
    font-size: 16px;
    color: var(--main);
    letter-spacing: 1px;
}
.tab-general-fabric .menu_right_filter #filter-icon2{
    display: none;
}


/* table product */
.table-products #sum-products {
    font-family: 'PlusJakartaSans-Medium';
    font-size: 16px;
    color: var(--main);
}

.table-products .swiper-container{
    display: flex;
    justify-content: space-between;
    gap: 8px;
    height: 205px;
    margin-bottom: 80px;
    overflow-x: scroll;
    scrollbar-width: none; /* For Firefox */
    --ms-overflow-style: none; /* For Internet Explorer and Edge */
    margin-left: 56px;
}
.table-products .swiper-container::-webkit-scrollbar{
    display: none;  /* For Chrome, Safari, and Opera */
}
.table-products .swiper-container .fabric-item{
    width: 250px;
    min-width: 250px;
    gap: 12px;
    box-sizing: border-box;
}

.table-products .swiper-container .fabric-item .img{
    height: 141px;
}

.table-products .swiper-container .fabric-item #design-name{
    font-family: 'PlusJakartaSans-Medium';
    font-size: 16px;
    color: #BEB0A2;
}

.table-products .swiper-container .fabric-item #design-code{
    font-family: 'PlusJakartaSans-Medium';
    font-size: 16px;
    color: var(--main);
}

.swiper-button-prev{
    display: none;
}
.swiper-button-next{
    display: none;
}

.table-products .button-showmore {
    display: flex;
    justify-content: center;
    margin: -17px 0px 103px;
}
.table-products .button-showmore #btn-showmore{
    background-color: var(--main) ;
    border-color: var(--main);
    width: 357px;
    height: 68px;
    border-radius: 100px;
    color: #3B3229;
    font-family: 'PlusJakartaSans-Medium';
    font-size: 20px;
    letter-spacing: 3%;
}

/* filter-bar */
.big-layout .opacity-layer{
    position: absolute;
    width: 100%;
    height: 2017px;
    right: 0px;
    top: 0px;
    background: #27384F;
    opacity: 60%;
}
.layout .opacity-layer{
    position: absolute;
    width: 100%;
    height: 2017px;
    right: 0px;
    top: 0px;
    background: #27384F;
    opacity: 60%;
}
.layout .filter-bar{

    position: absolute;
    width: 680px;
    height: 2017px;
    right: 0px;
    top: 0px;
    background: #202E41;
}

.filter-bar .container{
    position: absolute;
    top: 36px;
    left: 48px;
    width: 584px;
}

.filter-bar #x-close-1{
    width: 24px;
    height: 24px;
}

.filter-bar #line-8{
    position: absolute;
    width: 584px;
    height: 0px;
    top: 73.5px;
    border: 1px solid #4B5565;
}

.filter-bar h3{
    font-family: 'DP Céline';
    font-size: 48px;
    color: var(--main);
    letter-spacing: 1px;
}

.filter-bar .container h4{
    color: #9AA4B2;
    font-family: 'PlusJakartaSans-Medium';
    font-size: 16px;
    letter-spacing: 1px;
}

.filter-bar .container h5{
    color: var(--main);
    font-family: 'PlusJakartaSans-Medium';
    font-size: 16px;
    letter-spacing: 1px;
}

.filter-bar .container .item-selected{
    background-color: #364152;
    border-color: #364152;
    padding: 12px 12px 12px 16px;
    gap: 8px;
    width: fit-content;
    border-radius: 50px;
    font-family: 'PlusJakartaSans-Medium';
    font-size: 16px;
    letter-spacing: 1px;
    color: var(--main);
}
.filter-bar .container #x-close-items{
    width: 8px;
    height: 8px;
}
.filter-bar .container .form-check {
    gap: 12px;
    display: flex;
}
.filter-bar .container .form-check .form-check-input{
    background-color: transparent;
    border-radius: 0px;
    border-color: #4B5565;
}
.filter-bar .container .form-check .form-check-lable{
    font-family: 'PlusJakartaSans-Medium';
    font-size: 16px;
    letter-spacing: 1px;
    color: var(--main);
}
.filter-bar .container .form-check .form-check-input:checked{
    background-color: white !important;
}

.filter-bar .btn-secondary{
    width: 608px;
    height: 68px;
    gap: 10px;
    padding: 22px 24px 22px 24px;
    font-family: 'PlusJakartaSans-Medium';
    font-size: 20px;
    letter-spacing: 1px;
    color: #3B3229;
    border-radius: 50px;
    border-color: var(--main);
    background-color: var(--main);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.filter-bar .container #arrow{
    position: absolute;
    left: 530px;
    margin-top: 20px;
}


/* menu-area */
.menu-area {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    /* left: 0; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    width: 1440px;
    height: 960px;
    background-color: #202E41;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 1000;
}
.menu-area.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}
.menu-area .header-menu{
    max-width: 1440px;
    
}

.menu-area .header-menu .menu_right{
    gap: 8px;
}
.menu-area .header-menu .menu_right .nav_item{
    color: #D5CCC3;
    text-decoration: none;
    font-family: "PlusJakartaSans-SemiBold";
    text-decoration: none;
    cursor: pointer;
}

.body-menu {
    /* position: relative; */
    margin: 220px 100px;
    gap: 160px;
}
.body-menu .option-menu{
    font-family: "DP Céline";
    text-decoration: none;
    font-size: 48px;
    font-weight: 100;
    line-height: 72px;
    letter-spacing: 2px;
    /* text-align: center; */
    color: #BEB0A2;
    margin-bottom: 24px;
}
.body-menu .option-menu:hover{
    color: #F7F5F3;
}

/******************************* search-area ************************/
.search-area {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    /* left: 0; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    width: 1440px;
    height: 960px;
    background-color: #202E41;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 1000;
    
}
.search-area.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}
.search-area .header-search{
    max-width: 1440px;
    
}

.search-area .header-search .menu_right{
    gap: 8px;
}
.search-area .header-search .menu_right .nav_item{
    color: #D5CCC3;
    text-decoration: none;
    font-family: "PlusJakartaSans-SemiBold";
    text-decoration: none;
    cursor: pointer;
}

.body-search {
    /* position: relative; */
    margin: 220px 348px;
    gap: 160px;
}
.body-search .option-menu{
    font-family: "DP Céline";
    text-decoration: none;
    font-size: 48px;
    font-weight: 100;
    line-height: 72px;
    letter-spacing: 2px;
    /* text-align: center; */
    color: #BEB0A2;
    margin-bottom: 24px;
}
.body-search .input-group {
    width: 654px;
}
.body-search .input-group input{
    background-color: transparent;
    border-width: 0px 0px 1px 0px;
    border-radius: 0px;
    border-color: #697586;
    width: 655px;
    height: 100px;
    color: #FCFCFD;
    font-size: 48px;
    font-family: 'PlusJakartaSans-Light';
}
.body-search .input-group input::placeholder {
    color: #697586;
    font-size: 48px;
    letter-spacing: 1%;
    font-weight: 100;
    opacity: 1; /* Firefox */
}
.body-search .input-group input::-ms-input-placeholder { /* Edge 12 -18 */
    color: #697586;
    font-size: 48px;
    letter-spacing: 1%;
    font-weight: 100;
}
.body-search h4{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    margin-left: 15px;
    /* font-family: 'PlusJakartaSans-Light'; */
}


/***************************************** footer *******************************/
footer .line {
    overflow: hidden;
    /* position: relative;
     */
     display: flex;
    width: 100%;
}

footer .line ul {
    
    margin: 0;
    padding: 0;
    white-space: nowrap;
    flex-wrap: nowrap;
    padding: 12px 0;
    border-top: 0.4px solid #748FB9;
    border-bottom: 0.4px solid #748FB9;
    justify-content: center;
    animation: scroll 60s linear infinite;
}

footer .line li {
    list-style: none;
    color: #748FB9;
    font-family: "DP Céline";
    display: flex;
    align-items: center;
    margin-right: 6px;
    line-height: 18px;
    letter-spacing: 1px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

footer .line li img {
    padding-right: 6px;
}

footer .footer-middle {
    padding-top: 140px;
    padding-bottom: 170px;
}

footer .footer-middle h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #D5CCC3;
    letter-spacing: 0.48px;
}
footer .footer-middle li, footer .footer-middle li a {
    color: #F7F5F3;
    list-style: none;
    text-decoration: none;
}
footer .footer-bottom {
    height: 256px;
    position: relative;
    overflow: hidden;
}
footer .footer-bottom p {
    font-size: 320px;
    line-height: 92px;
    font-family: "DP Céline";
    color: rgba(247, 245, 243, 1);
    opacity: 0.1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50px);
    position: absolute;
    width: auto;
    white-space: nowrap;
}


/**************************************************
                MOBILE CSS AREA 
****************************************************/
@media (max-width: 768px) {
    body {
       background: var(--blue_bg);
       width: 100%;
    }
    .sidebar {
        display: none;
    }

    h2.title {
        font-size: 28px;
        line-height: 42px;
        font-family: "DP Céline";
        text-transform: uppercase;
        font-weight: 100;
        margin: 0;
        letter-spacing: 2px;
        z-index: 999;
        pointer-events: none;
    }
    
    h2.title span {
        font-family: 'DP Céline';
        font-size: 28px;
        font-style: italic;
        font-weight: 100;
        line-height: 42px;
        letter-spacing: 2px;
        text-transform: uppercase;
        z-index: 999;
    }

    .big-layout {
        width: 100%;
        display: flex;
        justify-content: center;
        
        background: url('../images/BG-items.webp');
        background-color: #202E41;
        background-size: cover;
        background-repeat: no-repeat;
        mix-blend-mode: lumino1sity !important;
        overflow: hidden;
    }
    .layout{
        width: 100%;
        max-width: none;
    }

    /************************** Header ************************/
    section.header{
        display: flex;
        justify-content: space-between;
    }

    section.header .container{
        width: 100%;
    }
    section.header .container .top_head{
        /* display: flex;
        justify-content: space-between; */
        animation: none;
    } 
    section.header .container .top_head .logo img{
        display: flex;
        text-align: start;
        margin-left: -10vw;
    }
    section.header #contact{
        display: none;
    }
    .body_head {
        padding: 10vh 0 2vh;
        animation: none;
    }
    .top_head .menu_right{
        gap: 10px;
        justify-content: flex-end;
        /* margin-left: 2vw; */
    }
    .body_head h1 {
        font-size: 48px;
        text-align: center;
        /* text-transform: uppercase; */
        font-family: "DP Céline";
        letter-spacing: 2px;
    }

    .body_head span {
        font-family: 'DP Céline';
        font-size: 48px;
        text-align: center;
        font-style: italic;
        font-weight: 100;
        text-transform: uppercase;
        margin-left: -8px;
        margin-right: 6px;
    }

    .body_head #line{
        /* Line 3 */
        margin-top :15px;
        width: 100%;
        height: 0px;
        border: 1px solid rgba(253, 252, 245, 0.2);
    }
    .tab-general-fabric .tab-collection-design{
        display: flex;
        justify-content: center;
        margin-left: 4vw;
        gap: 24px;
    }


    .tab-general-fabric .tab-collection-design #next-tab{
        /* Collection */
        text-decoration: none ;
 
        /* iv - 48 */
        font-family: 'DP Céline';
        font-style: normal;
        font-weight: 100;
        font-size: 28px;
        line-height: 42px;
        /* identical to box height, onextr 150% */
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
        letter-spacing: 2px;
    
        /* beige / 600 */
        color: #8D7863;
    }
    .tab-general-fabric .tab-collection-design #current-tab{
        /* Collection */
        text-decoration: none ;
    
        /* iv - 48 */
        font-family: 'DP Céline';
        font-style: normal;
        font-weight: 100;
        font-size: 28px;
        line-height: 42px;
        /* identical to box height, or 150% */
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 2px;
        color: var(--main);
    }
    
    .tab-general-fabric .all-category-dropdown .dropdown{
        display: none;
    }
    .tab-general-fabric .menu_right_filter .dropdown{
        display: none;
    }

    .tab-general-fabric .menu_right_filter #btn-filter{
        background-color: #F7F5F3;
        color: #3B3229;
        z-index: 999;
        top: 90vh;
        left : 38vw;
        position: fixed;
    }
    .tab-general-fabric .menu_right_filter #filter-icon{
        display: none;
    }
    .tab-general-fabric .menu_right_filter #filter-icon2{
        display: block;
        margin-left: -5px;
    }
    

    .table-products{
        margin-top: -8vh;
    }
    .table-products .sum{
        margin: -5vh 21vw;
        width: max-content;
    }
    .table-products .swiper-container{
        display: flex;
        justify-content: space-between;
        gap: 8px;
        height: 205px;
        margin-bottom: 48px;
        overflow-x: scroll;
        scrollbar-width: none; /* For Firefox */
        --ms-overflow-style: none; /* For Internet Explorer and Edge */
        margin-left: 2vw;
    }
    .table-products .swiper-container .fabric-item{
        /* width: 250px; */
        min-width: 250px;
        gap: 12px;
        box-sizing: border-box;
    }

    .table-products .container{
        display: flex;
        justify-content: space-between;
        gap: 3vw;
        margin: 3vh 0;
    }
    .table-products .button-showmore{
        display: flex;
        justify-content: center;
        margin: 5vh 0px 10vh;
        padding: 0 3vw;
    }

    /* footer */
    footer #contact-mail, #contact-address, #contact-social{
        padding: 5vh;
        gap: 2vh;
    }
    footer .footer-bottom p {
        font-size: 85px;
    }
    footer .footer-middle {
        padding-top: 0vh;
        padding-bottom: 0vh;
    }

    /* menu-area */
    .menu-area {
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        /* left: 0; */
        display: flex;
        /* justify-content: center; */
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: #202E41;
        opacity: 0;
        transform: translateY(-100%);
        transition: opacity 0.5s ease, transform 0.5s ease;
        z-index: 1000;
        overflow: hidden;
    }
    .menu-area .body-menu .menu-item {
        display: grid;
    }
    .menu-area .header-menu .menu_right{
        gap: 8px;
        padding: 0;
        margin-left: -12vw;
    }
    .menu-area .header-menu .logo{
        display: flex;
        justify-content: flex-start;
        padding: 0;
    }
    .menu-area .body-menu {
        margin: 10vh 10vw;
    }
    .body-menu .option-menu{
        font-family: "DP Céline";
        text-decoration: none;
        font-size: 22px;
        font-weight: 100;
        line-height: 34px;
        letter-spacing: 2px;
        /* text-align: center; */
        color: #BEB0A2;
        margin-bottom: 24px;
    }
    .body-menu .a1, .a2, .a3{
        width: 300px;
    }

    /************************** search-area ******************************/

    .search-area {
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        /* left: 0; */
        display: flex;
        /* justify-content: center; */
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: #202E41;
        opacity: 0;
        transform: translateY(-100%);
        transition: opacity 0.5s ease, transform 0.5s ease;
        z-index: 1000;
        overflow: hidden;
    }

    .search-area .header-search .menu_right{
        gap: 8px;
        padding: 0;
        margin-left: -12vw;
    }
    .search-area .header-search .logo{
        display: flex;
        justify-content: flex-start;
        padding: 0;
    }

    .search-area .body-search {
        margin: 10vh 10vw;
    }
    .body-search .option-menu{
        font-family: "DP Céline";
        text-decoration: none;
        font-size: 48px;
        font-weight: 100;
        line-height: 72px;
        letter-spacing: 2px;
        /* text-align: center; */
        color: #BEB0A2;
        margin-bottom: 24px;
    }
    .body-search .input-group {
        width: 654px;
    }
    .body-search .input-group input{
        background-color: transparent;
        border-width: 0px 0px 1px 0px;
        border-radius: 0px;
        border-color: #697586;
        width: 655px;
        height: 100px;
        color: #FCFCFD;
        font-size: 24px;
        font-family: 'PlusJakartaSans-Light';
    }
    .body-search .input-group input::placeholder {
        color: #697586;
        font-size: 24px;
        letter-spacing: 1%;
        font-weight: 100;
        opacity: 1; /* Firefox */
    }
    .body-search .input-group input::-ms-input-placeholder { /* Edge 12 -18 */
        color: #697586;
        font-size: 24px;
        letter-spacing: 1%;
        font-weight: 100;
    }
    .body-search h4{
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 1px;
        margin-left: 15px;
        /* font-family: 'PlusJakartaSans-Light'; */
    }

    /************************** filter-bar ******************************/

    .layout .filter-bar{
        /* position: absolute; */
        width: 100%;
        height: 100vh;
        right: 0px;
        top: 0px;
        background: #202E41;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .layout .filter-bar .container{
        position: absolute;
        top: 5vh;
        left: 3vw;
        width: 100%;
    }
    .layout .filter-bar .x-close, .clear-div{
        margin-left: -10vw;
    }
    .filter-bar #line-8{
        position: absolute;
        width: 93%;
        height: 0px;
        top: 7.5vh;
        border: 1px solid #4B5565;
    }
    .filter-bar h3{
        font-size: 28px;
        color: var(--main);
        text-align: center;
        margin-top: 1vh;
    }

    .filter-bar .container h5{
        color: var(--main);
        font-family: 'PlusJakartaSans-Medium';
        font-size: 16px;
        letter-spacing: 1px;
        margin-left: -8vw;
    }

    .filter-bar .filter-hidden{
        display: flex;
        justify-content: space-between;
        margin-top: 0;
    }
    .filter-bar .filter-hidden .btn-hidden{
        display: flex;
        justify-content: flex-end;
        padding: 0 8vw;
    }
    .filter-bar .filter-hidden .btn-hidden img{
        width: 18px;
        height: 18px;
        margin-left: -8vw;
    }
    .filter-bar #line-9{
        /* position: absolute; */
        width: 93%;
        height: 0px;
        /* top: 15vh; */
        margin: 3vh 0 0 0;
        border: 1px solid #4B5565;
    }
}