
@font-face {
    font-family: 'MyCustomFont';
    src: url('../fonts/DFVNIvyPrestoDisplay/IvyPrestoDisplay-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('../fonts/DFVNIvyPrestoDisplay/IvyPrestoDisplay-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('../fonts/DFVNIvyPrestoDisplay/IvyPrestoDisplay-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('../fonts/DFVNIvyPrestoDisplay/IvyPrestoDisplay-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('../fonts/DFVNIvyPrestoDisplay/IvyPrestoDisplay-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('../fonts/DFVNIvyPrestoDisplay/IvyPrestoDisplay-RegularItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('../fonts/DFVNIvyPrestoDisplay/IvyPrestoDisplay-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('../fonts/DFVNIvyPrestoDisplay/IvyPrestoDisplay-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('../fonts/DFVNIvyPrestoDisplay/IvyPrestoDisplay-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('../fonts/DFVNIvyPrestoDisplay/IvyPrestoDisplay-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/Plus_Jakarta_Sans/Plus_Jakarta_Sans/static/PlusJakartaSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/Plus_Jakarta_Sans/Plus_Jakarta_Sans/static/PlusJakartaSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/Plus_Jakarta_Sans/Plus_Jakarta_Sans/static/PlusJakartaSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/Plus_Jakarta_Sans/Plus_Jakarta_Sans/static/PlusJakartaSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/Plus_Jakarta_Sans/Plus_Jakarta_Sans/static/PlusJakartaSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/Plus_Jakarta_Sans/Plus_Jakarta_Sans/static/PlusJakartaSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/Plus_Jakarta_Sans/Plus_Jakarta_Sans/static/PlusJakartaSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/Plus_Jakarta_Sans/Plus_Jakarta_Sans/static/PlusJakartaSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/Plus_Jakarta_Sans/Plus_Jakarta_Sans/static/PlusJakartaSans-ExtraLight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/Plus_Jakarta_Sans/Plus_Jakarta_Sans/static/PlusJakartaSans-ExtraLightItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

/* @font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/Plus_Jakarta_Sans/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/Plus_Jakarta_Sans/Plus_Jakarta_Sans/PlusJakartaSans-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
} */

.section1{
    /* v2 - big padding */

    display: flex;
    justify-content: center;
    position: relative;
    /* width: 1440px; */
    height: 6212px;

    /* blue / 950 */
    /* background: #202E41; */
    background: black;

}



.container{
    position: absolute;
    width: 1440px;
    max-width: 1440px;
    height: 6212px;
    background-color: #202E41;
    background-position: left top;
    background-repeat: no-repeat;
    overflow: hidden;
}
.container .bg01{
    /* alona-gross-k5OHy1i1nWE-unsplash 1 */

    position: absolute;
    width: 2800px;
    height: 4000px;
    left: calc(50% - 2800px/2 + 263px);
    top: -351px;

    background: url(../images/alona-gross-k5OHy1i1nWE-unsplash.jpg);
    mix-blend-mode: luminosity;
    opacity: 0.04;
    /* overflow: hidden; */
    

}
.container .bg02{
    /* jejo-jose-uy_3oaJI0bw-unsplash 1 */

    position: absolute;
    width: 4000px;
    height: 4000px;
    left: calc(50% - 4000px/2);
    bottom: -786px;

    background: url(../images/jejo-jose-uy_3oaJI0bw-unsplash.jpg);
    mix-blend-mode: luminosity;
    opacity: 0.04;
    /* overflow: hidden;
    background-position: left top;
    background-repeat: no-repeat; */

}

.frame714{
    /* Frame 714 */

    position: absolute;
    width: 1440px;
    height: 128px;
    left: 0px;
    top: 0px;

}
/* 
.toptitle{
    margin-top:20px;
    display: flex;
    justify-content: space-between;
} */
.frame714 a{
    text-decoration: none;
    color: #D5CCC3;
}

.frame714 h3{
    cursor: pointer;
}
.frame714 #contact{
    /* CONTACT */

    position: absolute;
    width: 81px;
    height: 24px;
    left: 140px;
    top: 54px;

    /* pl - 16 - semibold */
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    letter-spacing: 0.03em;

    /* beige / 300 */
    color: #D5CCC3;
}

.frame714 .frame775{
        /* Frame 775 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 142px;
    height: 24px;
    left: 1158px;
    top: 54px;


}
.frame714 .frame775 #search{
    /* SEARCH */

    width: 69px;
    height: 24px;

    /* pl - 16 - semibold */
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    letter-spacing: 0.03em;

    /* beige / 300 */
    color: #D5CCC3;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}
.frame714 .frame775 #menu{
    /* MENU */

    width: 49px;
    height: 24px;

    /* pl - 16 - semibold */
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    letter-spacing: 0.03em;

    /* beige / 300 */
    color: #D5CCC3;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.frame714 #img-logo{
    /* Vector */

    position: absolute;
    width: 55.1px;
    height: 64px;
    left: calc(50% - 55.1px/2 - 0.45px);
    top: calc(50% - 64px/2);
    /* scale: 1.5; */
    /* beige / 300 */
    /* background: #D5CCC3; */

}
.frame714 #img-logo-ref{
    margin-left: -80px;
    margin-top: -20px;
    scale: 0.71;
}


.slogan h3{
    /* Live Artfully */

    position: absolute;
    width: 1158px;
    height: 300px;
    left: calc(50% - 1158px/2);
    top: 228px;

    font-family: 'MyCustomFont';
    font-style: normal;
    font-weight: 100;
    font-size: 180px;
    line-height: 300px;
    /* identical to box height, or 167% */
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    /* beige / 300 */
    color: #D5CCC3;
}


.frame705{
    /* Frame 705 */

    position: absolute;
    width: 1440px;
    height: 860px;
    left: 0px;
    top: 668px;


}
.frame705 .frame776{
    /* Frame 776 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 960px;
    height: 272px;
    left: 140px;
    top: 508px;


}

.frame705 .frame776 #text1st{
    /* PROJECT OF THE MONTH */

    width: 202px;
    height: 24px;

    /* pl - 16 */
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    /* beige / 300 */
    color: #D5CCC3;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}
.frame705 .frame776 #text2nd{ 
    /* JW MARRIOT PHU QUOC RESORT */

    width: 960px;
    height: 240px;

    /* iv - 80 */
    font-family: 'MyCustomFont';
    font-style: normal;
    font-weight: 100;
    font-size: 80px;
    line-height: 120px;
    /* or 150% */
    display: flex;
    align-items: center;
    letter-spacing: 2px;

    /* beige / 300 */
    color: #D5CCC3;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.frame705 .frame813{
    /* Frame 813 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 152px;
    height: 64px;
    left: 1148px;
    top: 716px;
}

.frame705 .frame813 #left{
    /* arrow-narrow-left */
    width: 64px;
    height: 64px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#arrow-left{
    /* Icon */
    scale: 0.9;

}
.frame705 .frame813 #right{
    /* arrow-narrow-right */
    width: 64px;
    height: 64px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

#arrow-right{
    /* Icon */
    scale: 0.9;
}



.frame705 .rectange28{
    /* Rectangle 28 */

    position: absolute;
    width: 1559px;
    height: 932px;
    left: calc(50% - 1559px/2 - 0.5px);
    bottom: -36px;

    background: linear-gradient(180deg, rgba(32, 46, 65, 0.3) 0%, rgba(32, 46, 65, 0.8) 100%);

}
.frame705 #img-705{
    /* spacejoy-YI2YkyaREHk-unsplash 1 */

    /* position: absolute; */
    width: 1440px;
    height: 1440px;
    left: calc(50% - 1440px/2);
    top: -290px;

    background: url(../images/spacejoy-YI2YkyaREHk-unsplash.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    overflow: hidden;

    /* spacejoy-YI2YkyaREHk-unsplash 1 */

}

.group148{
    /* Group 148 */

    position: absolute;
    width: 1920px;
    height: 778px;
    left: 140px;
    top: 1768px;
}

.group148 #title-group148{
    /* Our Services */

    /* position: absolute; */
    width: 501px;
    height: 120px;
    left: 140px;
    top: 1768px;

    /* iv - 80 */
    font-family: 'MyCustomFont';
    font-style: italic;
    font-weight: 100;
    font-size: 80px;
    line-height: 120px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    /* beige / 300 */
    color: #D5CCC3;
}

.group147{
    /* Group 147 */

    position: absolute;
    width: 1160px;
    height: 64px;
    left: 140px;
    top: 2482px;

}
.group145{
    /* Group 145 */

    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 192px;
    height: 64px;
    left: 968px;
    top: -25px;
}

#arrow-right-t2{
    /* arrow-narrow-right */
    width: 64px;
    height: 64px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    scale: 0.8;
}
#arrow-left-t2{
   /* arrow-narrow-right */
   width: 64px;
   height: 64px;

   /* Inside auto layout */
   flex: none;
   order: 1;
   flex-grow: 0;
   opacity: 50%;
   scale: 0.8;
}

#bar{
    /* bar */

    position: absolute;
    width: 800px;
    height: 6px;
    left: 140px;
    top: 2511px;
}
#rectangle32{
    /* Rectangle 32 */

    position: absolute;
    width: 468px;
    height: 6px;
    left: 0px;
    top: 0px;

    /* beige / 100 */
    background: #F7F5F3;
    border-radius: 9999px;

}

#rectangle31{
    /* Rectangle 31 */

    position: absolute;
    width: 800px;
    height: 2px;
    left: 0px;
    top: 2px;

    /* beige / 300 */
    background: #D5CCC3;
    opacity: 0.5;


}

.frame830{
    /* Frame 830 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 1920px;
    height: 466px;
    left: 140px;
    top: 1968px;
}

.component2{
    /* Component 2 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    width: 300px;
    height: 466px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.component2 .frame765{
    /* Frame 765 */

    width: 300px;
    height: 400px;

    /* beige / 100 */
    background: #F7F5F3;
    border-radius: 120px 0px 0px 0px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    background-position: left top;
    background-repeat: no-repeat;
    overflow: hidden;
    
}
.component2 .frame765 #img-frame765{
    /* susan-wilkinson-1DvlOy6BcmI-unsplash 1 */

    /* position: absolute; */
    width: 537px;
    height: 716px;
    left: calc(50% - 537px/2 + 0.5px);
    top: calc(50% - 716px/2);

    background: url(../images/susan-wilkinson-1DvlOy6BcmI-unsplash.png);

}

.frame830 .component2 #text-frame765{
    /* Fabric */

    width: 93px;
    height: 54px;

    /* iv - 36 */
    font-family: 'MyCustomFont';
    font-style: normal;
    font-weight: 100;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;

    /* beige / 100 */
    color: #F7F5F3;

    text-shadow: 0px 0px 11px rgba(0, 0, 0, 0.3);

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.frame830 .component3{
    /* Component 3 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    width: 300px;
    height: 466px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    

}



.frame830 .component3 #text-component3{
    /* Leather */

    width: 116px;
    height: 54px;

    /* iv - 36 */
    font-family: 'MyCustomFont';
    font-style: normal;
    font-weight: 100;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;

    /* beige / 400 */
    color: #BEB0A2;

    text-shadow: 0px 0px 11px rgba(0, 0, 0, 0.3);

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.component3 .frame766{
    /* Frame 766 */
    position: relative;
    width: 300px;
    height: 400px;

    /* beige / 100 */
    background: #F7F5F3;
    border-radius: 0px 0px 120px 0px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    background-position: left top;
    background-repeat: no-repeat;
    overflow: hidden;

}


.component3 .frame766 #img-frame766{
    /* elimende-inagella-hO4AGt3czSQ-unsplash 1 */

    position: absolute;
    width: 1165px;
    height: 776px;
    /* left: calc(50% - 1165px/2 + 0.5px); */
    top: -48px;
    /* left: 50%; */
    transform: translateX(-10%);
    transform: translateY(6%);

    background: url(../images/elimende-inagella-hO4AGt3czSQ-unsplash.png);
    /* z-index: 99; */
    /* opacity: 0.8; */
}

.component3 .frame766 #rectangle28{
    /* Rectangle 28 */

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background: rgba(32, 46, 65, 0.6);
    /* opacity: 0.1; */
    /* margin-top: 50px; */
    /* z-index: 1; */
}


.frame830 .component4{
    /* Component 4 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    width: 300px;
    height: 466px;


    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;

}



.frame830 .component4 #text-component4{

    /* Wall Covering */

    width: 230px;
    height: 54px;

    /* iv - 36 */
    font-family: 'MyCustomFont';
    font-style: normal;
    font-weight: 100;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;

    /* beige / 400 */
    color: #BEB0A2;

    text-shadow: 0px 0px 11px rgba(0, 0, 0, 0.3);

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;


}

.component4 .frame767{
    /* Frame 767 */
    position: relative;

    width: 300px;
    height: 400px;

    /* beige / 100 */
    background: #F7F5F3;
    border-radius: 0px 0px 0px 120px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    background-position: left top;
    background-repeat: no-repeat;
    overflow: hidden;

}


.component4 .frame767 #img-frame767{
    /* mona-eendra-vC8wj_Kphak-unsplash */

    position: absolute;
    width: 1165px;
    height: 776px;
    /* left: calc(50% - 1165px/2 + 0.5px); */
    top: -48px;
    transform: translateX(-10%);
    transform: translateY(6%);

    background: url(../images/mona-eendra-vC8wj_Kphak-unsplash.png);
}

.component4 .frame767 #rectangle28{
    /* Rectangle 28 */

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background: rgba(32, 46, 65, 0.6);
}

.frame830 .component5{
    /* Component 5 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    width: 300px;
    height: 466px;


    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;


}



.frame830 .component5 #text-component5{

    /* Curtain */

    width: 112px;
    height: 54px;

    /* iv - 36 */
    font-family: 'MyCustomFont';
    font-style: normal;
    font-weight: 100;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;

    /* beige / 400 */
    color: #BEB0A2;

    text-shadow: 0px 0px 11px rgba(0, 0, 0, 0.3);

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;


}

.component5 .frame769{
    /* Frame 769 */
    position: relative;

    width: 300px;
    height: 400px;

    /* beige / 100 */
    background: #F7F5F3;
    border-radius: 120px 0px 0px 0px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    background-position: left top;
    background-repeat: no-repeat;
    overflow: hidden;

}


.component5 .frame769 #img-frame769{
    /* mona-eendra-vC8wj_Kphak-unsplash */

    position: absolute;
    width: 1165px;
    height: 776px;
    /* left: calc(50% - 1165px/2 + 0.5px); */
    top: -48px;
    transform: translateX(-10%);
    transform: translateY(6%);

    background: url(../images/jon-tyson-un5DGskIJuE-unsplash.png);
}

.component5 .frame769 #rectangle28{
    /* Rectangle 28 */

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background: rgba(32, 46, 65, 0.6);
}


.group150{
    /* Group 150 */

    /* position: absolute; */
    width: 1160px;
    height: 1105px;
    left: 140px;
    top: 2786px;

}

.group143{
    /* Group 143 */

    /* position: absolute; */
    width: 533px;
    height: 215px;
    left: calc(50% - 533px/2 - 0.5px);
    /* top: 2786px; */


}

.group143 #text1{
    /* What’s */

    position: absolute;
    width: 265px;
    height: 120px;
    left: 453px;
    top: 2786px;

    /* iv - 80 */
    font-family: 'MyCustomFont';
    font-style: italic;
    font-weight: 100;
    font-size: 80px;
    line-height: 120px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    /* beige / 300 */
    color: #D5CCC3;

}
.group143 #text2{
    /* Trending */

    position: absolute;
    width: 369px;
    height: 120px;
    left: 617px;
    top: 2881px;

    /* iv - 80 */
    font-family: 'MyCustomFont';
    font-style: normal;
    font-weight: 100;
    font-size: 80px;
    line-height: 120px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    /* beige / 300 */
    color: #D5CCC3;



}

.group149{
    /* Group 149 */

    /* position: absolute; */
    width: 1160px;
    height: 810px;
    left: calc(50% - 1160px/2);
    top: 3081px;

}
.group149 .frame765{
    /* Frame 765 */

    position: absolute;
    width: 639px;
    height: 810px;
    left: 140px;
    top: 3081px;

    /* beige / 100 */
    background: #F7F5F3;
    border-radius: 0px 180px;

    background-position: left top;
    background-repeat: no-repeat;
    overflow: hidden;
    
}

.group149 .frame765 #img-frame765{
    /* tissu-copenhague-d1316c6a4eb874a2be0ed06c73bc 1 */

    position: absolute;
    width: 2880px;
    height: 920px;
    left: -91px;
    top: 0px;

    background: url(../images/tissu-copenhague-d1316c6a4eb874a2be0ed06c73bc.png);

}


.frame7662{
    /* Frame 766 */

    position: absolute;
    width: 505px;
    height: 380px;
    left: calc(50% - 505px/2 + 327.5px);
    top: 3081px;

    background: #CDC4BB;
    border-radius: 180px 0px;

}
.frame7662 .frame817{
    /* Frame 817 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 330px;
    height: 184px;
    left: calc(50% - 330px/2 - 0.5px);
    top: calc(50% - 184px/2);

}
.frame7662 .frame817 .frame815{
    /* Frame 815 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 330px;
    height: 120px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}
.frame7662 .frame817 .frame815 #text1{
    /* FABRIC */

    width: 60px;
    height: 24px;

    /* pl - 16 */
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    /* beige / 800 */
    color: #4B4034;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}
.frame7662 .frame817 .frame815 #text2{
    /* Copenhague */

    width: 330px;
    height: 96px;

    /* iv - 64 */
    font-family: 'MyCustomFont';
    font-style: normal;
    font-weight: 100;
    font-size: 64px;
    line-height: 96px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    letter-spacing: 2px;

    /* beige / 800 */
    color: #4B4034;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}
.frame7662 .frame817 .frame816{
    /* Frame 816 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 206px;
    height: 40px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}
.frame7662 .frame817 .frame816 #text3{
    /* SEE COLLECTION */

    width: 170px;
    height: 20px;

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    text-decoration-line: underline;

    /* beige / 800 */
    color: #4B4034;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.frame7662 .frame817 .frame816 .arrow-right{
    /* arrow-narrow-right */

    width: 40px;
    height: 40px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    scale: 0.9;

}

.frame7672{
    /* Frame 767 */

    position: absolute;
    width: 505px;
    height: 414px;
    left: 795px;
    top: 3477px;

    /* beige / 100 */
    background: #F7F5F3;
    border-radius: 0px 180px 0px 0px;
    background-position: left top;
    background-repeat: no-repeat;
    overflow: hidden;

}

.frame7672 #img-frame7672{
    /* tissu-copenhague-d1316c6a4eb874a2be0ed06c73bc 1 */

    position: absolute;
    width: 1502px;
    height: 480px;
    right: -492px;
    top: 0px;

    background: url(../images/tissu-copenhague-d1316c6a4eb874a2be0ed06c73bc1.png);

}

.frame792 {
    /* Frame 792 */

    position: absolute;
    width: 1440px;
    height: 505px;
    left: calc(50% - 1440px/2);
    top: 4131px;
}

.frame792 #text-frame792{
    /* Projects we are proud of */

    position: absolute;
    width: 1019px;
    height: 120px;
    left: calc(50% - 1019px/2 - 0.5px);
    top: calc(50% - 120px/2 + 0.5px);

    /* iv - 80 */
    font-family: 'MyCustomFont';
    font-style: normal;
    font-weight: 100;
    font-size: 80px;
    line-height: 120px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    /* beige / 300 */
    color: #D5CCC3;


}

.frame790 {
    /* Frame 790 */

    position: absolute;
    width: 368px;
    height: 490px;
    left: -115px;
    top: 15px;

    /* beige / 100 */
    background: #F7F5F3;
    border-radius: 0px 0px 130px 0px;

    background-position: left top;
    background-repeat: no-repeat;
    overflow: hidden;

}

.frame790 #img-frame790{
    /* alen-kajtezovic-S-AI-1k0F1k-unsplash */

    position: absolute;
    width: 405px;
    height: 506px;
    left: 115px;
    top: 0px;

    background: url(../images/alen-kajtezovic-S-AI-1k0F1k-unsplash.png);

}

.frame790 #rectangle35{
    /* Rectangle 35 */

    position: absolute;
    width: 747px;
    height: 996px;
    left: calc(50% - 747px/2 - 0.5px);
    bottom: -253px;
    /* transform: translateX(-10%);
    transform: translateY(6%); */

    background: rgba(32, 46, 65, 0.6);

}

.frame786{
    /* Frame 786 */

    position: absolute;
    width: 304px;
    height: 406px;
    left: 253px;
    top: 57px;

    /* beige / 100 */
    background: #F7F5F3;
    border-radius: 0px 0px 0px 110px;

    background-position: left top;
    background-repeat: no-repeat;
    overflow: hidden;

}

.frame786 #rectangle35{
    /* Rectangle 35 */

    position: absolute;
    width: 304px;
    height: 406px;
    left: 0px;
    top: 0px;
}

.frame786 #img-frame786{
    /* jason-wang-NxAwryAbtIw-unsplash (2) */

    position: absolute;
    width: 780px;
    height: 438px;
    left: 0px;
    top: 0px;

    background: url(../images/jason-wang-NxAwryAbtIw-unsplash2.png);

}

.frame786 #rectangle36{
    /* Rectangle 36 */

    position: absolute;
    width: 747px;
    height: 996px;
    left: calc(50% - 747px/2 + 31.5px);
    bottom: -337px;

    background: rgba(32, 46, 65, 0.3);

}

.frame787{
    /* Frame 787 */

    position: absolute;
    width: 368px;
    height: 490px;
    left: 557px;
    top: 15px;

    /* beige / 100 */
    background: #F7F5F3;
    border-radius: 130px 0px 0px 0px;

    background-position: left top;
    background-repeat: no-repeat;
    overflow: hidden;

}

.frame787 #rectangle33{
    /* Frame 787 */

    /* position: absolute; */
    width: 368px;
    height: 490px;
    left: 557px;
    top: 15px;

    /* beige / 100 */
    background: #F7F5F3;
    border-radius: 130px 0px 0px 0px;

}

.frame787 #img-frame787{
    /* suhyeon-choi-ehxwis6Ltxg-unsplash */

    position: absolute;
    width: 411px;
    height: 614px;
    right: -42px;
    bottom: -124px;

    background: url(../images/suhyeon-choi-ehxwis6Ltxg-unsplash.png);

}

.frame787 #rectangle35{
    /* Rectangle 35 */

    position: absolute;
    width: 747px;
    height: 996px;
    left: calc(50% - 747px/2 - 0.5px);
    bottom: -253px;

    background: rgba(32, 46, 65, 0.6);

}

.frame788{
    /* Frame 788 */

    position: absolute;
    width: 231px;
    height: 308px;
    left: 925px;
    top: 91px;

    /* beige / 100 */
    background: #F7F5F3;
    border-radius: 0px 80px 0px 0px;

    background-position: left top;
    background-repeat: no-repeat;
    overflow: hidden;

}

.frame788 #img-frame788{
    /* spacejoy-eyEy5YZhSvU-unsplash */

    position: absolute;
    width: 437px;
    height: 547px;
    left: -0px;
    top: -0px;

    background: url(../images/spacejoy-eyEy5YZhSvU-unsplash.png);

}

.frame788 #rectangle35{
    /* Rectangle 35 */

    position: absolute;
    width: 747px;
    height: 996px;
    left: calc(50% - 747px/2 + 68px);
    bottom: -435px;

    background: rgba(32, 46, 65, 0.6);

}

.frame791 {
    /* Frame 791 */

    position: absolute;
    width: 368px;
    height: 490px;
    left: 1156px;
    top: 0px;

    /* beige / 100 */
    background: #F7F5F3;
    border-radius: 0px 0px 130px 0px;

    background-position: left top;
    background-repeat: no-repeat;
    overflow: hidden;

}

.frame791 #img-frame791{
    /* dmitry-spravko-TBmsFkzjHxA-unsplash */

    position: absolute;
    width: 324px;
    height: 497px;
    left: -0px;
    top: 0px;

    background: url(../images/dmitry-spravko-TBmsFkzjHxA-unsplash.png);

}

.frame791 #rectangle35{
    /* Rectangle 35 */

    position: absolute;
    width: 747px;
    height: 996px;
    left: calc(50% - 747px/2 - 0.5px);
    bottom: -253px;

    background: rgba(32, 46, 65, 0.6);

}

.frame689 {
    /* Frame 689 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 80px;

    position: absolute;
    width: 1278px;
    height: 416px;
    left: calc(50% - 1278px/2);
    top: 4876px;


}

.frame689 #text-title{
    /* Selected Clients */

    width: 700px;
    height: 120px;

    /* iv - 80 */
    font-family: 'MyCustomFont';
    font-style: normal;
    font-weight: 100;
    font-size: 80px;
    line-height: 120px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    /* beige / 300 */
    color: #D5CCC3;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}
.frame689 #text-client{
    /* JW Marriot | Park Hyatt | Aman | Ritz-Carlton | Six Senses |Hilton | Four Seasons | JW Marriot | Park Hyatt | Aman | Ritz-Carlton | Six Senses |Hilton | Four Seasons */

    width: 1278px;
    height: 216px;

    /* iv - 48 */
    font-family: 'MyCustomFont';
    font-style: normal;
    font-weight: 100;
    font-size: 48px;
    line-height: 72px;
    /* or 150% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;

    /* beige / 100 */
    color: #F7F5F3;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}


.footer{
    /* footer */

    position: absolute;
    width: 1440px;
    height: 681px;
    left: 0px;
    top: 5531px;

}

.footer .frame832{
    /* Frame 832 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 12px;

    position: absolute;
    width: 1797px;
    height: 36px;
    left: calc(50% - 1797px/2 - 0.5px);
    top: 1px;

}

.frame832 #line5{
    /* Line 5 */

    width: 1797px;
    height: 0px;

    border: 0.4px solid #748FB9;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    

}

.frame832 .frame827{
    /* Frame 827 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;

    width: 1792px;
    height: 12px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.frame827 .frame820{
    /* Frame 820 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 6px;

    width: 886px;
    height: 12px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.frame820 #txt-1{
    /* SOPHISTICATED */

    width: 105px;
    height: 12px;

    font-family: 'MyCustomFont';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;

    leading-trim: both;
    text-edge: cap;
    display: flex;
    align-items: center;

    color: #748FB9;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 12px;

}

.frame820 #frame819{
    /* Frame 819 */

    width: 8px;
    height: 8px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: 20px;
}

.frame820 #txt-2{
        /* PROFESSIONAL */

    width: 100px;
    height: 12px;

    font-family: 'MyCustomFont';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
    /* leading-trim and text-edge are draft CSS properties.

    Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
    */
    leading-trim: both;
    text-edge: cap;
    display: flex;
    align-items: center;

    color: #748FB9;


    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    margin-top: 12px;

}
.frame820 #frame820{
    /* Frame 820 */

    width: 8px;
    height: 8px;


    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
    margin-bottom: 20px;

}

.frame820 #txt-3{
    /* LUXURIOUS */

    width: 78px;
    height: 12px;

    font-family: 'MyCustomFont';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
    /* leading-trim and text-edge are draft CSS properties.

    Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
    */
    leading-trim: both;
    text-edge: cap;
    display: flex;
    align-items: center;

    color: #748FB9;


    /* Inside auto layout */
    flex: none;
    order: 4;
    flex-grow: 0;
    margin-top: 12px;

}

.frame820 #frame821{
    /* Frame 821 */

    width: 8px;
    height: 8px;


    /* Inside auto layout */
    flex: none;
    order: 5;
    flex-grow: 0;
    margin-bottom: 20px;

}

.frame820 #txt-4{
    /* SUSTAINABLE */

    width: 90px;
    height: 12px;

    font-family: 'MyCustomFont';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
    /* leading-trim and text-edge are draft CSS properties.

    Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
    */
    leading-trim: both;
    text-edge: cap;
    display: flex;
    align-items: center;

    color: #748FB9;


    /* Inside auto layout */
    flex: none;
    order: 6;
    flex-grow: 0;
    margin-top: 12px;

}

.frame820 #frame822{
    /* Frame 822 */

    width: 8px;
    height: 8px;


    /* Inside auto layout */
    flex: none;
    order: 7;
    flex-grow: 0;
    margin-bottom: 20px;

}

.frame820 #txt-5{
    /* SOPHISTICATED */

    width: 105px;
    height: 12px;

    font-family: 'MyCustomFont';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
    /* leading-trim and text-edge are draft CSS properties.

    Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
    */
    leading-trim: both;
    text-edge: cap;
    display: flex;
    align-items: center;

    color: #748FB9;


    /* Inside auto layout */
    flex: none;
    order: 8;
    flex-grow: 0;
    margin-top: 12px;

}

.frame820 #frame823{
    /* Frame 823 */

    width: 8px;
    height: 8px;


    /* Inside auto layout */
    flex: none;
    order: 9;
    flex-grow: 0;
    margin-bottom: 20px;

}

.frame820 #txt-6{
    /* SUSTAINABLE */

    width: 90px;
    height: 12px;

    font-family: 'MyCustomFont';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
    /* leading-trim and text-edge are draft CSS properties.

    Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
    */
    leading-trim: both;
    text-edge: cap;
    display: flex;
    align-items: center;

    color: #748FB9;


    /* Inside auto layout */
    flex: none;
    order: 10;
    flex-grow: 0;
    margin-top: 12px;

}

.frame820 #frame824{
    /* Frame 824 */

    width: 8px;
    height: 8px;


    /* Inside auto layout */
    flex: none;
    order: 11;
    flex-grow: 0;
    margin-bottom: 20px;

}

.frame820 #txt-7{
    /* LUXURIOUS */

    width: 78px;
    height: 12px;

    font-family: 'MyCustomFont';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
    /* leading-trim and text-edge are draft CSS properties.

    Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
    */
    leading-trim: both;
    text-edge: cap;
    display: flex;
    align-items: center;

    color: #748FB9;


    /* Inside auto layout */
    flex: none;
    order: 12;
    flex-grow: 0;
    margin-top: 12px;

}

.frame820 #frame825{
    /* Frame 825 */

    width: 8px;
    height: 8px;


    /* Inside auto layout */
    flex: none;
    order: 13;
    flex-grow: 0;
    margin-bottom: 20px;

}

.frame820 #txt-8{
    /* PROFESSIONAL */

    width: 100px;
    height: 12px;

    font-family: 'MyCustomFont';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
    /* leading-trim and text-edge are draft CSS properties.

    Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
    */
    leading-trim: both;
    text-edge: cap;
    display: flex;
    align-items: center;

    color: #748FB9;


    /* Inside auto layout */
    flex: none;
    order: 14;
    flex-grow: 0;
    margin-top: 12px;

}

.frame820 #frame824{
    /* Frame 824 */

    width: 8px;
    height: 8px;


    /* Inside auto layout */
    flex: none;
    order: 11;
    flex-grow: 0;
    margin-bottom: 20px;

}

/******************************************************* */
.frame827 .frame821{
    /* Frame 821 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 6px;

    width: 886px;
    height: 12px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.frame821 #frame826{
   /* Frame 826 */

    width: 8px;
    height: 8px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 20px;

}

.frame821 #txt-1{
    /* SOPHISTICATED */

    width: 105px;
    height: 12px;

    font-family: 'MyCustomFont';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;

    leading-trim: both;
    text-edge: cap;
    display: flex;
    align-items: center;

    color: #748FB9;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 12px;

}

.frame821 #frame819{
    /* Frame 819 */

    width: 8px;
    height: 8px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: 20px;
}

.frame821 #txt-2{
        /* PROFESSIONAL */

    width: 100px;
    height: 12px;

    font-family: 'MyCustomFont';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
    /* leading-trim and text-edge are draft CSS properties.

    Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
    */
    leading-trim: both;
    text-edge: cap;
    display: flex;
    align-items: center;

    color: #748FB9;


    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    margin-top: 12px;

}
.frame821 #frame820{
    /* Frame 820 */

    width: 8px;
    height: 8px;


    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
    margin-bottom: 20px;

}

.frame821 #txt-3{
    /* LUXURIOUS */

    width: 78px;
    height: 12px;

    font-family: 'MyCustomFont';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
    /* leading-trim and text-edge are draft CSS properties.

    Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
    */
    leading-trim: both;
    text-edge: cap;
    display: flex;
    align-items: center;

    color: #748FB9;


    /* Inside auto layout */
    flex: none;
    order: 4;
    flex-grow: 0;
    margin-top: 12px;

}

.frame821 #frame821{
    /* Frame 821 */

    width: 8px;
    height: 8px;


    /* Inside auto layout */
    flex: none;
    order: 5;
    flex-grow: 0;
    margin-bottom: 20px;

}

.frame821 #txt-4{
    /* SUSTAINABLE */

    width: 90px;
    height: 12px;

    font-family: 'MyCustomFont';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
    /* leading-trim and text-edge are draft CSS properties.

    Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
    */
    leading-trim: both;
    text-edge: cap;
    display: flex;
    align-items: center;

    color: #748FB9;


    /* Inside auto layout */
    flex: none;
    order: 6;
    flex-grow: 0;
    margin-top: 12px;

}

.frame821 #frame822{
    /* Frame 822 */

    width: 8px;
    height: 8px;


    /* Inside auto layout */
    flex: none;
    order: 7;
    flex-grow: 0;
    margin-bottom: 20px;

}

.frame821 #txt-5{
    /* SOPHISTICATED */

    width: 105px;
    height: 12px;

    font-family: 'MyCustomFont';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
    /* leading-trim and text-edge are draft CSS properties.

    Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
    */
    leading-trim: both;
    text-edge: cap;
    display: flex;
    align-items: center;

    color: #748FB9;


    /* Inside auto layout */
    flex: none;
    order: 8;
    flex-grow: 0;
    margin-top: 12px;

}

.frame821 #frame823{
    /* Frame 823 */

    width: 8px;
    height: 8px;


    /* Inside auto layout */
    flex: none;
    order: 9;
    flex-grow: 0;
    margin-bottom: 20px;

}

.frame821 #txt-6{
    /* SUSTAINABLE */

    width: 90px;
    height: 12px;

    font-family: 'MyCustomFont';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
    /* leading-trim and text-edge are draft CSS properties.

    Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
    */
    leading-trim: both;
    text-edge: cap;
    display: flex;
    align-items: center;

    color: #748FB9;


    /* Inside auto layout */
    flex: none;
    order: 10;
    flex-grow: 0;
    margin-top: 12px;

}

.frame821 #frame824{
    /* Frame 824 */

    width: 8px;
    height: 8px;


    /* Inside auto layout */
    flex: none;
    order: 11;
    flex-grow: 0;
    margin-bottom: 20px;

}

.frame821 #txt-7{
    /* LUXURIOUS */

    width: 78px;
    height: 12px;

    font-family: 'MyCustomFont';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
    /* leading-trim and text-edge are draft CSS properties.

    Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
    */
    leading-trim: both;
    text-edge: cap;
    display: flex;
    align-items: center;

    color: #748FB9;


    /* Inside auto layout */
    flex: none;
    order: 12;
    flex-grow: 0;
    margin-top: 12px;

}

.frame821 #frame825{
    /* Frame 825 */

    width: 8px;
    height: 8px;


    /* Inside auto layout */
    flex: none;
    order: 13;
    flex-grow: 0;
    margin-bottom: 20px;

}

.frame821 #txt-8{
    /* PROFESSIONAL */

    width: 100px;
    height: 12px;

    font-family: 'MyCustomFont';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
    /* leading-trim and text-edge are draft CSS properties.

    Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
    */
    leading-trim: both;
    text-edge: cap;
    display: flex;
    align-items: center;

    color: #748FB9;


    /* Inside auto layout */
    flex: none;
    order: 14;
    flex-grow: 0;
    margin-top: 12px;

}

.frame821 #frame824{
    /* Frame 824 */

    width: 8px;
    height: 8px;


    /* Inside auto layout */
    flex: none;
    order: 11;
    flex-grow: 0;
    margin-bottom: 20px;

}

/******************************************************* */
.frame832 #line4 {
    /* Line 4 */

    width: 1797px;
    height: 0px;

    border: 0.4px solid #748FB9;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;

}

.frame662{
    /* Frame 662 */

    position: absolute;
    width: 1440px;
    height: 504px;
    left: 0px;
    top: 177px;

}

.frame662 #txt-dpc{
    /* DP CÉLINE */

    position: absolute;
    width: 1417px;
    height: 233px;
    left: calc(50% - 1417px/2 - 0.5px);
    bottom: -56px;

    font-family: 'MyCustomFont';
    font-style: normal;
    font-weight: 100;
    font-size: 320px;
    line-height: 92px;
    /* or 29% */
    /* leading-trim and text-edge are draft CSS properties.

    Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
    */
    leading-trim: both;
    text-edge: cap;
    display: flex;
    align-items: center;

    /* beige / 100 */
    color: #F7F5F3;

    opacity: 0.1;

}

.frame662 .group151{
    /* Group 151 */

    position: absolute;
    width: 1160px;
    height: 158px;
    left: 140px;
    top: 0px;


}

.group151 .frame653{
    /* Frame 653 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 22px;

    /* position: absolute; */
    width: 201px;
    height: 66px;
    left: 140px;
    top: 0px;


}

.frame653 #txt-01{
    /* START A CONVERSATION */

    width: 201px;
    height: 24px;

    /* pl - 16 */
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    /* beige / 300 */
    color: #D5CCC3;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.frame653 #txt-02{
    /* hello@dpceline.com */

    width: 177px;
    height: 20px;

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    text-decoration-line: underline;

    /* beige / 100 */
    color: #F7F5F3;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.group151 .frame654{
    /* Frame 654 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 22px;

    position: absolute;
    width: 408px;
    height: 140px;
    left: 400px;
    top: 0px;


}

.frame654 #txt-01{
    /* OUR OFFICE */

    width: 130px;
    height: 24px;

    /* pl - 16 */
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    /* beige / 300 */
    color: #D5CCC3;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.frame654 #txt-02{
    /* 39/09 Street 48, Hiep Binh Chanh, Thu Duc, Ho Chi Minh City 70000 */

    width: 408px;
    height: 48px;

    /* pl - 16 */
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    /* beige / 100 */
    color: #F7F5F3;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.frame654 #txt-03{
    /* 024-0000-0000 */

    width: 408px;
    height: 24px;

    /* pl - 16 */
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    /* beige / 100 */
    color: #F7F5F3;


    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;

}

.group151 .frame655{
    /* Frame 655 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 22px;

    position: absolute;
    width: 215px;
    height: 158px;
    left: 1000px;
    top: 0px;


}

.frame655 #txt-01{
    /* SOCIAL MEDIA */

    width: 119px;
    height: 24px;

    /* pl - 16 */
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    /* beige / 300 */
    color: #D5CCC3;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.frame655 .frame793{
    /* Frame 793 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 215px;
    height: 112px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.frame793 #txt-02{
    /* Twitter (X) */

    width: 215px;
    height: 24px;

    /* pl - 16 */
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    /* beige / 100 */
    color: #F7F5F3;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.frame793 #txt-03{
    /* Instagram */

    width: 215px;
    height: 24px;

    /* pl - 16 */
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    /* beige / 100 */
    color: #F7F5F3;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.frame793 #txt-04{
    /* Facebook */

    width: 215px;
    height: 24px;

    /* pl - 16 */
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    /* beige / 100 */
    color: #F7F5F3;


    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;

}

/* **************************************************** MENU ***************************************** */

.menu-container {
    /* Frame 851 */

    position: relative;
    width: 1440px;
    height: 960px;

    /* blue / 950 */
    background: #202E41;

}

.frame714 .frame852{
    /* Frame 852 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 89px;
    height: 24px;
    left: 1211px;
    top: calc(50% - 24px/2);


}

.frame852 #close{
    /* CLOSE */

    width: 57px;
    height: 24px;

    /* pl - 16 - semibold */
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    letter-spacing: 0.03em;

    /* beige / 300 */
    color: #D5CCC3;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.frame852 #x-icon {
    /* x-close */

    width: 24px;
    height: 24px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.frame852 #x{
    margin-top: -5px;
    margin-left: 5px;
}


.frame857{
    /* Frame 857 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 160px;

    position: absolute;
    width: 1203px;
    height: 264px;
    left: 100px;
    top: calc(50% - 264px/2);


}

.frame857 .group156{
    /* Group 156 */

    width: 165px;
    height: 264px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.group156 #ellipse{
    /* Ellipse 19353 */

    position: absolute;
    width: 6px;
    height: 6px;
    left: 0px;
    top: 33px;

    /* beige / 100 */
    background: #F7F5F3;


}

.group156 .frame856{
    /* Frame 856 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 151px;
    height: 264px;
    left: 14px;
    top: 0px;


}

.frame856 #txt-01{
    /* Fabric */

    width: 120px;
    height: 72px;

    /* iv - 48 */
    font-family: 'MyCustomFont';
    font-style: normal;
    font-weight: 100;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;

    /* beige / 100 */
    color: #F7F5F3;

    text-shadow: 0px 0px 11px rgba(0, 0, 0, 0.3);

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.frame856 #txt-02{
    /* Leather */

    width: 151px;
    height: 72px;

    /* iv - 48 */
    font-family: 'MyCustomFont';
    font-style: normal;
    font-weight: 100;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;

    /* beige / 400 */
    color: #BEB0A2;

    text-shadow: 0px 0px 11px rgba(0, 0, 0, 0.3);

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.frame856 #txt-03{
    /* Curtain */

    width: 145px;
    height: 72px;

    /* iv - 48 */
    font-family: 'MyCustomFont';
    font-style: normal;
    font-weight: 100;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;

    /* beige / 400 */
    color: #BEB0A2;

    text-shadow: 0px 0px 11px rgba(0, 0, 0, 0.3);

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;

}

.frame857 .frame854{
    /* Frame 854 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 375px;
    height: 264px;
    margin-top:10px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.frame854 #txt-01{
    /* Roller Blind */

width: 300px;
height: 72px;

/* iv - 48 */
font-family: 'MyCustomFont';
font-style: normal;
font-weight: 100;
font-size: 48px;
line-height: 72px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 2px;

/* beige / 400 */
color: #BEB0A2;

text-shadow: 0px 0px 11px rgba(0, 0, 0, 0.3);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

.frame854 #txt-02{
    /* Wall Covering */

    width: 350px;
    height: 72px;

    /* iv - 48 */
    font-family: 'MyCustomFont';
    font-style: normal;
    font-weight: 100;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;

    /* beige / 400 */
    color: #BEB0A2;

    text-shadow: 0px 0px 11px rgba(0, 0, 0, 0.3);

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.frame854 #txt-03{
    /* Window furnishing */

    width: 450px;
    height: 72px;

    /* iv - 48 */
    font-family: 'MyCustomFont';
    font-style: normal;
    font-weight: 100;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;

    /* beige / 400 */
    color: #BEB0A2;

    text-shadow: 0px 0px 11px rgba(0, 0, 0, 0.3);

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;

}

.frame857 .frame855{
    /* Frame 855 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 343px;
    height: 264px;


    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;

}

.frame855 #txt-01{
    /* Bespoke Services */

    width: 390px;
    height: 72px;

    /* iv - 48 */
    font-family: 'MyCustomFont';
    font-style: normal;
    font-weight: 100;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;

    /* beige / 400 */
    color: #BEB0A2;

    text-shadow: 0px 0px 11px rgba(0, 0, 0, 0.3);

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.frame855 #txt-02{
    /* Our Projects */

    width: 300px;
    height: 72px;

    /* iv - 48 */
    font-family: 'MyCustomFont';
    font-style: normal;
    font-weight: 100;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;

    /* beige / 400 */
    color: #BEB0A2;

    text-shadow: 0px 0px 11px rgba(0, 0, 0, 0.3);

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.frame855 #txt-03{
    /* About Us */

    width: 260px;
    height: 72px;

    /* iv - 48 */
    font-family: 'MyCustomFont';
    font-style: normal;
    font-weight: 100;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;

    /* beige / 400 */
    color: #BEB0A2;

    text-shadow: 0px 0px 11px rgba(0, 0, 0, 0.3);

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;

}